In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [3]:
print("sawan Kumar")

sawan Kumar

### PRINTING STRINGS & COMMENTS

In [1]:
print (sawan kumar)  #this is valid for python 2.0 not Python 3.0

SyntaxError: invalid syntax (<ipython-input-1-ec5c866f92fd>, line 1)

In [2]:
#this is a single line comment

In [3]:
""" this
is 
a multi line 
comment"""

' this\nis \na multi line \ncomment'

### VARIABLES

A variable is named memory location, which is used to call store data as and when required. e.g a=10.

In [12]:
ab = 10

In [3]:
type(ab)

int

In [15]:
x ='this is a string variable'

In [16]:
2+3

5

In [20]:
type(x)

int

In [21]:
print (ab, x)

10 5

In [ ]:
a= 45
b= "Sawan"

In [24]:
a, b, c = 45, "sawan", 'this is my name'

In [25]:
a

45

In [26]:
print (a,b,c)

45 sawan this is my name

In [39]:
 g = 45434
print (g)

45434

In [28]:
1g = 455454

SyntaxError: invalid syntax (<ipython-input-28-0274c7eb9052>, line 1)

In [38]:
_g = 23464655
print (_g)

23464655

In [32]:
name = "Sawan"
userid ="54553"
password="classified"
mail="dbxhjbj2@gmail.com"

In [40]:
print (name, userid)

Sawan 54553

In [33]:
a = 1.656899653646161

In [36]:
print(a)

1.656899653646161

In [41]:
print (True+ True+True+True+ False)
print (False-True+True)

4
0

In [42]:
True*False

0

In [45]:
4*(True+True)

8

In [47]:
True/False  #this is give error however will not be there in numpy package

ZeroDivisionError: division by zero

In [52]:
n=5+6j  #printing complex numbers
print(n)
type(n)

(5+6j)

complex

In [53]:
n.real #for real part

5.0

In [54]:
n.imag # for imaginary part of acomplex number

6.0

In [ ]:
#Python is a dynamic language , as it automatically the type of variables

In [55]:
1+ "Sawan"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [1]:
str(1) + "sawan"  #this concept is known as strong typing

'1sawan'

In [2]:
1+1.0 #floating point occupy more space so UPCASTING will be the result

2.0

In [3]:
"Sawan" + "sawan"+"Sawan"

'SawansawanSawan'

In [4]:
"Sawan"*3

'SawanSawanSawan'

Python supports strong TypeCasting

In [5]:
int("23")

23

In [6]:
int("jhdgfhdgfi")

ValueError: invalid literal for int() with base 10: 'jhdgfhdgfi'

In [7]:
a=10

In [8]:
a= input("Enter a integer")  #take input from user

asdfhj

In [9]:
type(a)

str

Take 3 integer input from user (e.g a,b,c) then perform (a+b)/c. Then Output(O) + complex variable , this output + your name.

In [13]:
a= input("Enter 1st integer a: ")
b= input("Enter 1st integer b: ")
c= input("Enter 1st integer c: ")
O1= (a+b)/c
print (O1)
O2= O1 + a*j
print (O2)
name= input ("enter your name: ")
O3= str(O1) + name
print (O3)

Enter 1st integer a: 4
Enter 1st integer b: 6
Enter 1st integer c: 8

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [21]:
a= int(input("Enter 1st integer a: "))
b= int(input("Enter 1st integer b: "))
c= int(input("Enter 1st integer c: "))

Enter 1st integer a: 45
Enter 1st integer b: 56
Enter 1st integer c: 45

In [23]:
O= a+b+c
o1 = O + 45+6j
print(o1)

(191+6j)

In [24]:
type(o1)

complex

In [26]:
str(o1)+" Sawan"  #user input with concatinating string

'(191+6j) Sawan'

### DECISION MAKING

1. CONDITIONAL STATEMENT

In [1]:
a= int(input("Enter a number lesser than 41: "))

Enter a number lesser than 41: 78

In [2]:
if a <41     #don't forget to put colon as it is part of if condition and will show error
    pass

SyntaxError: invalid syntax (<ipython-input-2-cc86e487c58c>, line 1)

In [6]:
if a<41:
    pass

In [9]:
a= int(input("Enter a number lesser than 41: "))
if a<41:
    print("the entered number is less than 41")

Enter a number lesser than 41: 23
the entered number is less than 41

In [11]:
a= int(input("Enter a number lesser than 41: "))
if a<41:
print("the entered number is less than 41")
    #here we dont have braces/brackets to define hierarchy of code so
    #INDENTATION is very much important for execution
    #it will show erorr bcz it is not able to find any body

IndentationError: expected an indented block (<ipython-input-11-d4b851bef7e5>, line 3)

In [13]:
a= int(input("Enter a number lesser than 41: "))
if a<41:
    pass  #here true or false doesnt matter, so will not throw any error
print("the entered number is less than 41")  #this print statement is out of if condition

Enter a number lesser than 41: 45
the entered number is less than 41

In [14]:
a= int(input("Enter a number lesser than 41: "))
if a<41:
    print("the entered number is less than 41") 
else:
    print ("user input is not lesser than 41")

Enter a number lesser than 41: 56
user input is not lesser than 41

In [15]:
#multiple if-else condtion we use elif
a= int(input("Enter a number lesser than 41: "))
if a<41:
    print("the entered number is less than 41") 
elif a<100:
    print ("number lies between 41 & 100")
else:
    print ("user input is not lesser than 41")

Enter a number lesser than 41: 78
number lies between 41 & 100

In [16]:
a= int(input("Enter a number lesser than 41: "))
if a<41:
    print("the entered number is less than 41") 
elif a<100:
    print ("number lies between 41 & 100")
else:
    print ("user input is not lesser than 41")

Enter a number lesser than 41: 102
user input is not lesser than 41

In [1]:
salary = int(input("enter your salary"))
if salary <10000:
    print("I will not buy a cricket bat but i can buy gloves")
elif salary <5000:
    print ("you can buy shoes")
elif salary <1000:
    print ("go for buying knee cap")
else: 
    print ("dont spend money save it")
    
    #here note for the output, all condition will be satisfied when output is gretaer than minimum salary
    #so the first TRUE conditioned encounterd will be printed i.e cricket bat
    #even though your salary is less than 1000

enter your salary101
I will not buy a cricket bat but i can buy gloves

In [2]:
salary = int(input("enter your salary"))
if salary >10000:
    print("I will not buy a cricket bat but i can buy gloves")
elif salary >5000:
    print ("you can buy shoes")
elif salary >1000:
    print ("go for buying knee cap")
else: 
    print ("dont spend money save it")

enter your salary56
dont spend money save it

In [13]:
#NESTING CONDTIONS
salary = int(input("enter your salary: "))
if salary >10000:
    print("I will buy a cricket bat ")
    if salary >14000:
        print("i wil go with a car for tour")
    elif salary>12000:
        print("i will go in maruti")
    elif salary >10500:
        print("i will go in a auto")
elif salary >5000:
    print ("i will buy a pair of gloves ")
else: 
    print ("dont spend money save it")
    #here based on hierarchy it will give output

enter your salary: 12501
I will buy a cricket bat
i will go in maruti

In [14]:
#NESTING CONDTIONS
salary = int(input("enter your salary: "))
if salary >10000:
    print("I will buy a cricket bat ")
    if salary >14000:
        print("i wil go with a car for tour")
        if True:
            print("False code this true doesn't make a sem")
    elif salary>12000:
        print("i will go in maruti")
    elif salary >10500:
        print("i will go in a auto")
elif salary >5000:
    print ("i will buy a pair of gloves ")
else: 
    print ("dont spend money save it")
    #here based on hierarchy it will give output

enter your salary: 290
dont spend money save it

In [15]:
salary >5000  #this will give logical answer based on last value that is stored
                # in the variable

False

In [17]:
c=456
d=87
print (id(c))
print(id(d))

2530854274160
140735103971808

### CONDITIONALS & LOOPS

In [5]:
a= 10
b = 20
if a== 10 and b == 20 :
    print ("this is a valid statement")

this is a valid statement

In [6]:
a == 10 and b == 20

True

In [7]:
a == 10 and b ==25

False

In [8]:
a == 10 or b== 26

True

In [9]:
a= 10
b = 20
if a== 10 and b == 20 :
    print ("this is a valid statement")
elif a == 10 and b >20 :
    print ("this statement is valid inside elif")
else :
    print("this statement is inside else")

this is a valid statement

Take input from your keyboard as your first name and last name then try to validate of write multiple condition by yourself

In [28]:
f = input("Write your first name: ")
l= input ("write your last name: ")
if f== "sawan" :
    print("your first name is same as you entered")
else:
    print ("you entered a different first name")
    
if  l== "kumar" :
    print("your last name is same as you entered ")
else:
    print ("you entered a different last name")

Write your first name: sawan
write your last name: kumar
your first name is same as you entered
your last name is same as you entered

In [29]:
f = input("Write your first name: ")
l= input ("write your last name: ")
if f== "sawan" :
    print("your first name is same as you entered")
else:
    print ("you entered a different first name")
    
if  l== "kumar" :
    print("your last name is same as you entered ")
else:
    print ("you entered a different last name")

Write your first name: Sawan
write your last name: kumar
you entered a different first name
your last name is same as you entered

### WHILE STATEMENT

In [32]:
a= input()
if a==10:
    print("This is true ")
else:
    print ("This is false")

56456
This is false

In [35]:
intial_speed=0
final_speed =10 
count =0
while intial_speed <= final_speed :
        print("speed")
        count += 1   #count= count +1 
        if count==5 :
            break   #it is used to break the loop for this statement

speed
speed
speed
speed
speed

In [39]:
i= 1
j=5
while i < j :
    print(i)
    i= i+1

1
2
3
4

In [44]:
notes =5
i= 1
while i<notes: 
    print("notes are available")
    i+=1
else :       #here both while & else condition exits, whereas in other languages it is not possible
    while j<3:
        j=j+1
        print (" no new notes are available")

notes are available
notes are available
notes are available
notes are available

In [3]:
s= "sawan kumar" #extraction of letter from a string
print(s)

sawan kumar

In [9]:
 s[3:10] #here 3 i starting point & 10 is end point but will exclude
        #data which is at end point i.e at 10th index i.e from 3 to 10

'an kuma'

In [17]:
#stepsize or jump size , by default step size is 1
q="SAWAN KUMAR IS LEARNING PYTHON"
q[3:20:2]

'A UA SLAN'

In [18]:
q[20:3:-1]  #using -1 will provide jump into negative axis

'INRAEL SI RAMUK N'

In [19]:
#if we use step size as +1 then we will not get any data as output because we provided as positive step from the last
q[10:3:1]

''

In [20]:
q[::-1]

'NOHTYP GNINRAEL SI RAMUK NAWAS'

In [23]:
q[-1] #here note that indexes are starting from reverse direction i.e -1 from right to left
# and first letter encountered isw 'N' of PYHTON word whose index is -1 
#and similarly for other consecutive letters

'N'

In [24]:
q[2:-6]

'WAN KUMAR IS LEARNING '

#### FOR Loop

In [31]:
for i in q :
    if i=="A":
        print("this is printing A letter in sentence")
    print(i)

S
this is printing A letter in sentence
A
W
this is printing A letter in sentence
A
N

K
U
M
this is printing A letter in sentence
A
R

I
S

L
E
this is printing A letter in sentence
A
R
N
I
N
G

P
Y
T
H
O
N

In [33]:
for i in s:
    print(i)
else:
    print ("this is else condtion, marks end of for loop")

s
a
w
a
n

k
u
m
a
r
this is else condtion, marks end of for loop

In [34]:
for i in s:
    if i=="N":
        break  #when a break keyword is used then we are not alowing for loop to complete
    print(i)
else:#else condition will be printed only if for loop condition becomes false, not when loop ends
    if i=='E':
        print("last char was E")
    print ("this is else condtion, marks end of for loop")

s
a
w
a
n

k
u
m
a
r
this is else condtion, marks end of for loop

In [36]:
for i in s:
    if i=="N":
        continue  #to redirect control to for Loop, making sure that for loop is completed and else statement is reached
        print(i)
else:#else condition will be printed only if for loop condition becomes false, not when loop ends
    if i=='E':
        print("last char was E")
    print ("this is else condtion, marks end of for loop")

this is else condtion, marks end of for loop

In [38]:
s= "ineuron"
ss=" "
for i in range(len(s)):   #len() will return as length of string
    if s[i] =="n":    #range will generate entire length
        continue
    else :
        ss = ss + s[i]

In [39]:
ss

' ieuro'

In [41]:
len(s)

7

In [44]:
n=7 
for i in range(0,n):
    for j in range(0,i+1):
        print("*", end= " ")
    print("\r")
    #\r is new line from beginning, \n is new line

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [57]:
n=7 
for i in range(n,0,-1):
    for j in range(n-i):
        print(' ', end= ' ')
        
    for j in range(2*i-1):
        print('*', end='')
    print()

*************
  ***********
    *********
      *******
        *****
          ***
            *

In [53]:
num = 5
m= 2*num-2
for i in range(num,-1,-1):
    for j in range(m,0,-1):  #used to maintain space
        print(end=" ")
    m= m+1
    for j in range(0,i+1):  #used to print star
        print("*", end=" ")
    print(" ")
    #2 for loops are used because we are either trying to maintain space or print something

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [6]:
n=7
i=0
while i < n:
    print(' '*(n-i-1)+ '* '*(i+1))
    i=i+1

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

#### INTRO TO LISTS

In [3]:
l = list()

In [8]:
name="Sawan"
phno=465468452
addr="chghvbc"

name, phno, addr="sawan", 465468452, "hgdhfj"

In [6]:
l=["Sawan", 4678, "hgsdhfjg"]

In [7]:
l

['Sawan', 4678, 'hgsdhfjg']

In [10]:
l[2]  #here [2] is the index of item in the list

'hgsdhfjg'

In [14]:
type(l[2])

str

In [15]:
l1=[]
type(l1)

list

In [17]:
l2=list()
type(l2)
#note here both are lists

list

In [18]:
q= [True, "sdhv", 9+6j, 6.86546]

In [21]:
for i in q:
    print(type(i))

<class 'bool'>
<class 'str'>
<class 'complex'>
<class 'float'>

In [6]:
q= [True, "sdhv", 9+6j, 6.86546]
print(q)

[True, 'sdhv', (9+6j), 6.86546]

In [7]:
for i in q:
    if type(i)==list:
        for j in i:
            print(type(j))

In [8]:
for i in q:
    if type(i)==list:
        n=0
        for j in i :
            if type(j) == int:
                n= n+j
            print(n)
            
            print(type(j))

In [9]:
len(q)

4

In [11]:
string = "jhgfhdga"
for i in string:
    print(i, end="")
#end=" " to provide space

jhgfhdga

In [12]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
lst= [1,2,3,4]
lst[4:2:-1]

[4]

In [14]:
print("KR\rvbhbj")

vbhbj

In [16]:
print("KR\nrvbhbj")

KR
rvbhbj

## THANK YOU