## STRINGS & LISTS

In [1]:
a="Sawan"

In [2]:
b='sawan'

In [3]:
a

'Sawan'

In [4]:
b

'sawan'

In [5]:
c="we are studying python programming" so i have joined it"

SyntaxError: invalid syntax (<ipython-input-5-3aab99386146>, line 1)

In [10]:
#we can either use double quotes within single quotes
y= 'Sawan "kumar" '
print(y)

Sawan "kumar"

In [9]:
#or we can use single quotes within double quotes
x="Sawan 'kr' "
print(x)

Sawan 'kr'

In [11]:
s="this is a full stack class"

In [12]:
s[0]

't'

In [13]:
s[-1]

's'

In [14]:
s[100]   #100 index are not there to check length use len()

IndexError: string index out of range

In [16]:
len(s)

26

In [18]:
s[4:10:2] #only 4, 6,8 index will be printed excuding 10th as it starts from  0

' sa'

In [19]:
s[4:11:2]

' saf'

In [20]:
s[-1:-10:1] #here logical conflict will be there as we are moving from right to left but step size is in other direction(positive direction)

''

In [21]:
s[-1:-10:-1] #excluding -10

'ssalc kca'

In [24]:
for i in range(len(s)) :
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [25]:
s[::-1]

'ssalc kcats lluf a si siht'

In [26]:
s[0] ="X"

TypeError: 'str' object does not support item assignment

In [28]:
l= ["avchsbvc", 45, True,780.5]

In [29]:
l[0]= "replaced"

In [30]:
l

['replaced', 45, True, 780.5]

STRINGS are not mutable i.e one character cannot be replaced or in string item assignment is not allowed

LISTS are mutable which means that any item of list can be replaced or in LIsts item assignments are allowed

In [31]:
"sawan" +"kumar"

'sawankumar'

In [32]:
"Sawan"+str(3)

'Sawan3'

In [33]:
"sawan" +["kumar", 3,4 5]

SyntaxError: invalid syntax (<ipython-input-33-503d2e977aeb>, line 1)

In [34]:
"he"*6

'hehehehehehe'

In [ ]:
s="my name is sawan kumar & learning python"

In [48]:
s

'this is a full stack class'

In [38]:
s.find('s') #returns index of first 's' encountered, will terminate as soon as first 's' is read
#output

3

In [39]:
s.find("mi") #'-1' indicates this index is not returned

-1

In [49]:
s="my name is sawan, org name is IIT"

In [50]:
s.find("name")

3

In [53]:
#to find index of owrd name from starting to last
b= s.find("name")
for i in range(len("name")):
    print(b+i)

3
4
5
6

In [54]:
s.count('m')

3

In [56]:
s.count("name")

2

In [57]:
s.split() #by default spilts data using space

['my', 'name', 'is', 'sawan,', 'org', 'name', 'is', 'IIT']

In [58]:
s.split('s')

['my name i', ' ', 'awan, org name i', ' IIT']

In [59]:
s.upper()

'MY NAME IS SAWAN, ORG NAME IS IIT'

In [60]:
s.lower()

'my name is sawan, org name is iit'

In [61]:
s.swapcase() #changes cases of strings

'MY NAME IS SAWAN, ORG NAME IS iit'

In [62]:
"*".join(s)

'm*y* *n*a*m*e* *i*s* *s*a*w*a*n*,* *o*r*g* *n*a*m*e* *i*s* *I*I*T'

In [64]:
reversed(s)

In [65]:
for i in reversed(s):
    print(i)

T
I
I

s
i

e
m
a
n

g
r
o

,
n
a
w
a
s

s
i

e
m
a
n

y
m

In [66]:
s[::-1]

'TII si eman gro ,nawas si eman ym'

In [75]:
q="    jhsdjukhbcj    jl   "

In [76]:
q.strip()  #removes spaces

'jhsdjukhbcj    jl'

In [77]:
q.rstrip()

'    jhsdjukhbcj    jl'

In [78]:
q.lstrip()

'jhsdjukhbcj    jl   '

In [79]:
s="greetings from my side"

In [80]:
s.replace("gr", "###")
#NOTE here mutability is not applied as here a different space/location of same words are being used not at original

'###eetings from my side'

In [81]:
s
#note here original string has not changed

'greetings from my side'

In [84]:
s=s.replace("##","kumar")
print(s)

greetings from my side

In [1]:
q="greetings from my side"

In [2]:
q

'greetings from my side'

In [3]:
q.center(20, 'b')

'greetings from my side'

In [6]:
r="this\tis\tused\tto\tprovide\tspace" 
#it is in betwen string not abe to identify so we use expnadtabs()

In [7]:
r

'this\tis\tused\tto\tprovide\tspace'

In [8]:
r.expandtabs()

'this    is      used    to      provide space'

Ques: Take input as a string. (a) Normalise all one string in lower case. (b) Find no. of occurences of "a" in entire data. (c) find all location/index of "a" in string .(d) Replace all the "a" with "iNeuron".(e) Print all the word as list

In [8]:
a= "We all are part of Full Stack"
b=a.lower()
print(b)
c= a.count("a")
for i in range(len(a)):
    if(a[i]=="a"):
        print(i)
d= a.replace("a", "iNeuron")
print(d)
e=a.split()
print(e)

we all are part of full stack
3
7
12
26
We iNeuronll iNeuronre piNeuronrt of Full StiNeuronck
['We', 'all', 'are', 'part', 'of', 'Full', 'Stack']

In [9]:
s="Sawan Kumar"
s

'Sawan Kumar'

In [11]:
s.isalpha()

False

In [12]:
s.isupper()

False

In [14]:
s.islower()

False

In [15]:
s.isspace()

False

In [18]:
s.endswith('a')

False

In [19]:
s.istitle()

True

In [21]:
s="this is a full stack batch"
for i in s:
    print(i)

t
h
i
s

i
s

a

f
u
l
l

s
t
a
c
k

b
a
t
c
h

In [23]:
for i in range(len(s)):
    print(s[-i])

t
h
c
t
a
b

k
c
a
t
s

l
l
u
f

a

s
i

s
i
h

In [1]:
s="sawan"
ch=len(s)-1
while ch>=0:
    print(s[ch])
    ch=ch-1

n
a
w
a
s

In [3]:
name= "ineuron"
vowels="AaEeIioOuU"
for i in name:
    if i in vowels:
        print("{} is a vowel".format(i))
    else:
        print("{} is not a vowel".format(i))
#format() function is very useful when we want to get output based on some results while compiling

i is a vowel
n is not a vowel
e is a vowel
u is a vowel
r is not a vowel
o is a vowel
n is not a vowel

In [4]:
"{} name is sawan".format("my")

'my name is sawan'

In [7]:
a= input("enter your first name: ")
b=input("enter your last name: ")
"{} is your first name and {} is last name".format(a,b)

enter your first name: Sawan
enter your last name: Kumar

'Sawan is your first name and Kumar is last name'

In [8]:
a=input("enter a word to check for palindrome: ")
b=a[::-1]
if a==b:
    print("It is palindrome")
else :
    print ("It is not a palindrome")

enter a word to check for palindrome: nayan
It is palindrome

### LISTS

In [9]:
l=["hehe", 12,454,120.3]

In [10]:
l[3]

120.3

In [11]:
l[0:3]

['hehe', 12, 454]

In [12]:
l[::-1]

[120.3, 454, 12, 'hehe']

In [13]:
s="hehe"
s=list(s)

In [14]:
s

['h', 'e', 'h', 'e']

In [15]:
r=["sawan"]

In [16]:
l+s

['hehe', 12, 454, 120.3, 'h', 'e', 'h', 'e']

In [17]:
l*2

['hehe', 12, 454, 120.3, 'hehe', 12, 454, 120.3]

In [20]:
454 in l

True

# THANK YOU & ENJOY LEARNING