## LIST Manipulation

In [1]:
l=["Sawan",234,45.56, [45,56,6,"c"],True]

In [2]:
for i in l :
    print(i)

Sawan
234
45.56
[45, 56, 6, 'c']
True

In [3]:
l[0]

'Sawan'

In [4]:
l[::-1]

[True, [45, 56, 6, 'c'], 45.56, 234, 'Sawan']

In [10]:
for i in l:
    if type(i)==list:
        print("this elemnet is a list:", i)
    else:
        print("this element is not a list:", i)

this element is not a list: Sawan
this element is not a list: 234
this element is not a list: 45.56
this elemnet is a list: [45, 56, 6, 'c']
this element is not a list: True

In [11]:
l

['Sawan', 234, 45.56, [45, 56, 6, 'c'], True]

In [12]:
l1=[345,456,"kumar","student"]

In [13]:
l+l1

['Sawan', 234, 45.56, [45, 56, 6, 'c'], True, 345, 456, 'kumar', 'student']

In [14]:
l*2

['Sawan',
 234,
 45.56,
 [45, 56, 6, 'c'],
 True,
 'Sawan',
 234,
 45.56,
 [45, 56, 6, 'c'],
 True]

In [15]:
len(l)

5

In [16]:
235 in l

False

In [17]:
print(max([2,3,4,749]))

749

In [22]:
max(["sawan","tech","Kmar","z"]) #it will come in alphabetical order

'z'

In [19]:
min(["hvhjkv","jdhvb","dfjb"])

'dfjb'

In [20]:
min(["hdgfh","vbk",456])  #only similar typesw can be compared

TypeError: '<' not supported between instances of 'int' and 'str'

In [23]:
min(["fsda","fsd","fsdfaaaaaa","a","A"]) #based on ASCII value answer will be given

'A'

In [1]:
l=[1,2,4,3]

In [2]:
l.append(6+6j)

In [3]:
l

[1, 2, 4, 3, (6+6j)]

In [4]:
l+"sudh"

TypeError: can only concatenate list (not "str") to list

In [5]:
l.append("sudhk")

In [6]:
l

[1, 2, 4, 3, (6+6j), 'sudhk']

In [7]:
l.insert(3,"kdhkjfb")

In [8]:
l

[1, 2, 4, 'kdhkjfb', 3, (6+6j), 'sudhk']

In [9]:
l.insert(-1,"test")

In [11]:
l   # here it shifts from right at -1 position

[1, 2, 4, 'kdhkjfb', 3, (6+6j), 'test', 'sudhk']

In [13]:
l.count("test")

1

In [15]:
l= [1,2,3,4]

In [16]:
l.append("sawan")

In [17]:
l

[1, 2, 3, 4, 'sawan']

In [19]:
l.extend("test1")
l
#in case of append it is adding the entire string, but in case of extend itis adding characterwise

[1, 2, 3, 4, 'sawan', 't', 'e', 's', 't', '1', 't', 'e', 's', 't', '1']

In [20]:
#extend expects a iterable i.e strings, but not integers etc.
l.extend(45)

TypeError: 'int' object is not iterable

In [21]:
l.append("[1,64,1,12]")

In [22]:
l

[1,
 2,
 3,
 4,
 'sawan',
 't',
 'e',
 's',
 't',
 '1',
 't',
 'e',
 's',
 't',
 '1',
 '[1,64,1,12]']

In [25]:
l.index(3)

2

In [26]:
l=[2,3,4,5,6,7]

In [27]:
l.pop()  #remove last element & default index is -1

7

In [28]:
l

[2, 3, 4, 5, 6]

In [32]:
l=[1,2,3,5,6,6,6,6,7]
l.pop(6)

6

In [33]:
l

[1, 2, 3, 5, 6, 6, 6, 7]

In [34]:
l=[3,3,44,56,568.561]

In [35]:
l.sort()

In [37]:
l

[3, 3, 44, 56, 568.561]

    given list l=[ [], [],  []] , (a) append 2 more list one complex number in this list in betweeen a exsisting list.
    (b) if your nested list conatain string then find out its index in nested list and print it. Then remove the string
    (c) you have to extract 2nd element of each nested list.

In [68]:
l=[[1,2],["sawan",45.36,"kumar"], [3,6,7]]
l.insert(2,[789,456,"jjhdsgf",123])
l.insert(3,[5+6j])
print(l)
for i in l:
    if type(i)== list:
        for j in i:
            if type(j)== str:
                print(j)

[[1, 2], ['sawan', 45.36, 'kumar'], [789, 456, 'jjhdsgf', 123], [(5+6j)], [3, 6, 7]]
sawan
kumar
jjhdsgf

In [4]:
l=[[1,2,3],[11,12,'b','b','b'],[21,'t',223],[4,5,6],[7,8,9],'demo',12.4]
for i in l:
    if type(i)== list:
        j=0
        while j<len(i):
            if type(i[j]) is str:
                print("index of string {} is:".format(i[j]),j)
            j= j+1
        j=0
        while j<len(i):
            if type(i[j]) is str:
                print("The string in the nested list is {} ".format(i[j]))
                i.remove(i[j])
                continue
            j=j+1
print("List after removal of string from nested list is \r",l,'\n')

index of string b is: 2
index of string b is: 3
index of string b is: 4
The string in the nested list is b
The string in the nested list is b
The string in the nested list is b
index of string t is: 1
The string in the nested list is t
 [[1, 2, 3], [11, 12], [21, 223], [4, 5, 6], [7, 8, 9], 'demo', 12.4]

In [69]:
#Taking list as a input
l=[]
for i in range(5):
    l.append(int(input()))
print(l)

454
454
78
32
465
[454, 454, 78, 32, 465]

In [6]:
l=[1,2,3,4,5]

In [7]:
l1=[]

In [8]:
for i in "Sawan":
    l1.append(i)

In [9]:
l1

['S', 'a', 'w', 'a', 'n']

In [12]:
[[i] for i in "sawan"]
#this is called LIST COMPREHENSION

[['s'], ['a'], ['w'], ['a'], ['n']]

In [14]:
l=[]
for i in range(10):
    if i%2==0:
        l.append(i)
l

[0, 2, 4, 6, 8]

In [13]:
#OUTPUT part wriiten on left side
[i for i in range(10) if i%2==0]

[0, 2, 4, 6, 8]

In [15]:
l=[]
for i in range(10):
    if i%2==0:
        l.append("odd")
    else:
        l.append("even")

In [16]:
l

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [17]:
["odd" if i%2 !=0 else "even" for i in range (10)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [22]:
mat=[]
for i in range(3):
    mat.append([])
    for j in range(3):
        mat[i].append(j)
mat

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [21]:
mat=[]
for i in range(3):
    mat.append([])
    for j in range(3):
        mat[i].append(j-1)
mat

[[-1, 0, 1], [-1, 0, 1], [-1, 0, 1]]

In [23]:
[[j for j in range(3) ]for i in range(3)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [25]:
[i for i in range(8) if i%2==0 if i%3==0]

[0, 6]

In [27]:
l=[]
for i in range(8):
    if i%2==0:
        l.append(i)

In [28]:
l

[0, 2, 4, 6]

In [30]:
["yes" if i==1 else "no" if i==2 else "test" for i in l]

['test', 'no', 'test', 'test']

In [33]:
l=[0,1,2,3,4,5,6,7,8,9]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
res=[]
for i in l:
    if i==1:
        res.append("yes")
    elif i==2:
        res.append("no")
    else:
        res.append("test")

In [35]:
res

['test', 'yes', 'no', 'test', 'test', 'test', 'test', 'test', 'test', 'test']

#### DOUBTS

In [38]:
lst=['kfsh',2,3,'a',5]

In [39]:
lst.sort() #not able to sort bcz data types are heterogeneous

TypeError: '<' not supported between instances of 'int' and 'str'

In [41]:
lst.reverse() #will just chnage the sequnce
lst

['kfsh', 2, 3, 'a', 5]

In [44]:
for i in range(0,10,3):
    print(i)

0
3
6
9

In [45]:
len(range(0,10,3))

4

In [46]:
range(0,10,3)

range(0, 10, 3)

In [47]:
range(len(0,10,3))

TypeError: len() takes exactly one argument (3 given)

In [4]:
%%time  
#to show the computing the code
max(["Sawan","Sawa"])

Wall time: 0 ns

'Sawan'

In [7]:
%%time
for i in range(10000041):
    continue

Wall time: 750 ms

In [12]:
x=['a','b','c','d']
for i in x:
    print(i)
    x.remove(i)
    continue

a
c

In [15]:
list(enumerate("sawan"))

[(0, 's'), (1, 'a'), (2, 'w'), (3, 'a'), (4, 'n')]

## THANK YOU & KEEP LEARNING