## TUPLE, SET, DICTIONARY

### TUPLE

In [1]:
t=()

In [2]:
type(t)

tuple

In [3]:
l=[]
type(l)

list

In [9]:
t1=(123,True,"Sawan",10.5)

In [10]:
l1=[123,True,"Sawan",10.5]

In [11]:
t1[0] #First difference is Tuples have parenthesis(), Lists have []

123

In [17]:
t1[1]

True

In [16]:
l1[1]

True

In [18]:
t1[0:4]

(123, True, 'Sawan', 10.5)

In [19]:
t1[::-1]

(10.5, 'Sawan', True, 123)

In [20]:
t1[-1]

10.5

In [21]:
l1[0]="kumar"

In [22]:
l1

['kumar', True, 'Sawan', 10.5]

In [23]:
t1[0]="dsfsv"

TypeError: 'tuple' object does not support item assignment

#### Tuples are immutable while are lists are mutable

In [24]:
t2=(234,54.565)
#we can append tuples as it will store new data in new list , whereas mutability is more of replacing the data at same location

##

In [25]:
t1 + t2

(123, True, 'Sawan', 10.5, 234, 54.565)

In [26]:
t1*2

(123, True, 'Sawan', 10.5, 123, True, 'Sawan', 10.5)

In [27]:
34 in t1

False

In [29]:
"Sawan" in t1

True

In [32]:
t1=(121,45465,4151)

In [33]:
max(t1)

45465

In [36]:
t1=(234,879,"Sawan",True)

In [38]:
t1.index(234)

0

In [39]:
t1.count(234)

1

In [5]:
l1

NameError: name 'l1' is not defined

In [42]:
min(t1)
#error because heterogeneous data types

TypeError: '<' not supported between instances of 'str' and 'int'

In [47]:
t6=(90,45)

In [48]:
t1+t6

(234, 879, 'Sawan', True, 90, 45)

In [49]:
l5=list(t1)

In [52]:
l5.insert(3,t6)

In [53]:
l5

[234, 879, 'Sawan', (90, 45), True]

In [54]:
tuple(l5)

(234, 879, 'Sawan', (90, 45), True)

In [55]:
t=((3,4,5,6),(4,7,8,9,8),[676,89,9,7,])

In [59]:
t[2][1]

89

In [60]:
t[2][0:1]

[676]

In [61]:
for i in t:
    print(i)

(3, 4, 5, 6)
(4, 7, 8, 9, 8)
[676, 89, 9, 7]

In [62]:
for i in t:
    if type(i)==tuple:
        print(i[0])

3
4

In [63]:
t1

(234, 879, 'Sawan', True)

In [64]:
t2

(234, 54.565)

In [65]:
if len(t1)== len(t2):
    print("its same")
else:
    print("not same")

not same

In [2]:
t= (234,45,'Sawan',True, "kumar",79,8984)

In [3]:

    i= input("Enter your name to check : ")
    if i in t:
        print("yes your name is there")
    else:
        print("your name is not present")

Enter your name to check : Sawan
yes your name is there

In [7]:
l1=['kumar',34,'sawan',3.455, True]

In [8]:
t1=(34)

In [9]:
del(t)

In [10]:
t

NameError: name 't' is not defined

In [11]:
del(l1)

In [12]:
l1

NameError: name 'l1' is not defined

### SET

In [13]:
x=set()

In [14]:
type(x)

set

In [17]:
l=[34,45,6.75,"Sawan",True,"kumar",457,34,45]
#when we want to use/get unique elements & remove the repititive words SET is ysed

In [19]:
s=set(l)
print(s)

{True, 34, 6.75, 457, 45, 'kumar', 'Sawan'}


#### SET is a collection which is use to remove duplicate element. It is case sensitive. And set is unordered cllection.

In [20]:
34 in s

True

In [21]:
s[0]

TypeError: 'set' object is not subscriptable

In [22]:
for i in s:
    print(i)

True
34
6.75
457
45
kumar
Sawan

In [29]:
s

{'ssaan'}

In [24]:
s[0]

TypeError: 'set' object is not subscriptable

In [25]:
s=set()
s

set()

In [26]:
s.add("ssaan")

In [28]:
s

{'ssaan'}

In [30]:
s1=(45,'dsffdff',"Sawan")

In [31]:
s1

(45, 'dsffdff', 'Sawan')

In [33]:
type(s1)

tuple

In [34]:
s2=set(s1)

In [35]:
s2

{45, 'Sawan', 'dsffdff'}

In [36]:
s2.add(67)

In [37]:
s2

{45, 67, 'Sawan', 'dsffdff'}

In [38]:
s2.remove(45)
s2

{67, 'Sawan', 'dsffdff'}

In [40]:
s2.clear()
s2

set()

In [43]:
s.add(46,"Sawan",90.34)
s

TypeError: add() takes exactly one argument (3 given)

In [44]:
s.add(45)

In [45]:
s.add("Sawan")

In [46]:
s.add(5.76)

In [47]:
s

{45, 5.76, 'Sawan', 'ssaan'}

In [48]:
s +s1

TypeError: unsupported operand type(s) for +: 'set' and 'tuple'

In [50]:
s*4
#repition is not allowed in sets

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [51]:
l4=list(s)

In [52]:
l4.append(345)

In [53]:
l4

['Sawan', 'ssaan', 45, 5.76, 345]

In [54]:
t4=tuple(s)

In [55]:
set(t4)
t4

('Sawan', 'ssaan', 45, 5.76)

### DICTIONARY

In [56]:
x={}

In [57]:
type(x)

dict

In [58]:
x1={45,53}
type(x1)

set


##### In { } when no data is written it is dictionary, whereas when there is something inside { } it is a set. In both the output is displayed in { }.
When meaning is different but kEY VALUE(word) is different.

In [61]:
x={"name" : "sudh", "age":345}
#note here name is KEY and Sudh is VALUE, similarly age is KEY and 345 is VALUE
#here default indexes are created as well

In [63]:
x1={34,45}
type(x1)
#here no value are given will consider it as a set not dictionary

set

In [64]:
type(x)

dict

In [67]:
x1={"name":"sawan","age":43, True:"dsbfjkd", "key":False,3435:645, "name":"dfvdv"}
x1
#here note key is multiple i.e name, however values are different
#and inb output the latest value of KEY is displayed

{'name': 'dfvdv', 'age': 43, True: 'dsbfjkd', 'key': False, 3435: 645}

In [68]:
x1={_:768 ,"name":"sawan","age":43, True:"dsbfjkd", "key":False,3435:645, "name":"dfvdv"}

TypeError: unhashable type: 'dict'

In [69]:
x2={"name":"sawan","age":43, True:"dsbfjkd", "key":False,3435:645, "name":"dfvdv","_djhfkjh":[454,6765,3443],52398:(454,5,7,6,534)}

In [72]:
x2

{'name': 'dfvdv',
 'age': 43,
 True: 'dsbfjkd',
 'key': False,
 3435: 645,
 '_djhfkjh': [454, 6765, 3443],
 52398: (454, 5, 7, 6, 534)}

In [74]:
x2["name"]

'dfvdv'

In [75]:
x2[3435]

645

In [76]:
type(x2[3435])

int

In [82]:
x3={"name":"sawan","dict2":{"age":43, True:"dsbfjkd", "key":[45,464,7,]},3435:645, "name":"dfvdv","_djhfkjh":[454,6765,3443],52398:(454,5,7,6,534)}
x3

{'name': 'dfvdv',
 'dict2': {'age': 43, True: 'dsbfjkd', 'key': [45, 464, 7]},
 3435: 645,
 '_djhfkjh': [454, 6765, 3443],
 52398: (454, 5, 7, 6, 534)}

In [83]:
x3["dict2"]

{'age': 43, True: 'dsbfjkd', 'key': [45, 464, 7]}

In [84]:
x3["dict2"]["age"]

43

In [86]:
x3["dict2"]["key"][2]

7

In [88]:
x4={"k4":"fgfhd"}
x3+x4
#addition is not allowed

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [89]:
x3*3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [93]:
x4['k4']=2432

In [94]:
x3.keys()

dict_keys(['name', 'dict2', 3435, '_djhfkjh', 52398])

In [95]:
'k4' in x3.keys()

False

In [96]:
for i in x3:
    print(i)

name
dict2
3435
_djhfkjh
52398

In [99]:
for i in x3:
    print(x3[i])

dfvdv
{'age': 43, True: 'dsbfjkd', 'key': [45, 464, 7]}
645
[454, 6765, 3443]
(454, 5, 7, 6, 534)

In [100]:
for i in x3:
    print(type(x3[i]))

<class 'str'>
<class 'dict'>
<class 'int'>
<class 'list'>
<class 'tuple'>

In [101]:
x3.items()

dict_items([('name', 'dfvdv'), ('dict2', {'age': 43, True: 'dsbfjkd', 'key': [45, 464, 7]}), (3435, 645), ('_djhfkjh', [454, 6765, 3443]), (52398, (454, 5, 7, 6, 534))])

In [102]:
#printing al the keys in the dictionary
?????????????

Object `???????????` not found.

In [103]:
len(x3)

5

Take input as a paragrapgh by using input function.
(a) convert all of this input into list
(b) Remove all the duplicate element from  your list
(c) Use above distinct element as a kaey for dictionary and assign your name as a value of all the key for dictionary
(d) try to print type of all values
(e) try to print list of all the key

In [105]:
l= input("Enter the paragraph: ")
s=set(list(l))
s[]:"Sawan"

SyntaxError: invalid syntax (<ipython-input-105-b7212b8aed4e>, line 3)

In [107]:
data=input("Enter the paragraph: ")

data_list=data.split(" ")

no_duplicate=set(data_list)

my_dict={}
for i in no_duplicate:
    my_dict[i]="sawan"
    
tup_list=[]
for i in my_dict.keys():
    tup_list.append(my_dict[i])
    
print("Tuple List: "),tuple(tup_list)

list_keys=[]
for i in my_dict.keys():
    list_keys.append(i)

print("List keys: ",list_keys)

Enter the paragraph: n meteorology, a cloud is an aerosol consisting of a visible mass of miniature liquid droplets, frozen crystals, or other particles suspended in the atmosphere of a planetary body or similar space. Water or various other chemicals may compose the droplets and crystals.
Tuple List:
List keys:  ['', 'of', 'droplets', 'liquid', 'suspended', 'space.', 'meteorology,', 'frozen', 'miniature', 'visible', 'or', 'similar', 'mass', 'particles', 'droplets,', 'cloud', 'crystals.', 'a', 'may', 'an', 'various', 'planetary', 'aerosol', 'is', 'other', 'in', 'body', 'compose', 'the', 'atmosphere', 'crystals,', 'consisting', 'chemicals', 'n', 'Water', 'and']

In [110]:
para= input("enter the para:")
lst=para.split(" ")
s1=set(lst)
dic1=dict.fromkeys(s1,'db')
t1=tuple(dic1.keys())
l2=list(dic1.values())

enter the para:nbgf sfgsfdgh ghgh

In [1]:
d={"company":"ineuron", "course":"full stack data scince", "year":2021}

In [2]:
for i in d:
    print("print a key : ", i, "; ","value wise : ", d[i])

print a key :  company ;  value wise :  ineuron
print a key :  course ;  value wise :  full stack data scince
print a key :  year ;  value wise :  2021

In [3]:
"course" in d

True

In [5]:
for i in d:
    if i=='year':
        if d[i]>2021:
            print("year is fine ")
        else:
            d[i]=2022

In [6]:
d

{'company': 'ineuron', 'course': 'full stack data scince', 'year': 2022}

DICTIONARY COMPREHENSION

In [7]:
my_dict ={}
for i in range(10):
    my_dict[i]=i*i
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [8]:
{i:i*i for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [11]:
{i:i*i for i in range(0,10,3)}

{0: 0, 3: 9, 6: 36, 9: 81}

#### DOUBTS & DISCUSSION

In [12]:
s={1:2}
type(s)

dict

In [13]:
q=(45,)
type(q)

tuple

In [14]:
q=(45)
type(q)

int

In [15]:
type((45,20))

tuple

In [16]:
q=45,
type(q)

tuple

In [22]:
e={56:{45,65,7,}}
e
l=e[56]

In [23]:
list(l)

[65, 45, 7]

In [29]:
e={(56,67):{45,65,7,}}
e
l=e[56]

KeyError: 56

In [28]:
e={{56,67}:{45,6,7,78}}
#unhashable means KEY is not unique

TypeError: unhashable type: 'set'

In [31]:
#we cannot reassign values to already defined values there are no indexes i.e unsubcriptable
s={1,2,3,4}
s[0]

TypeError: 'set' object is not subscriptable

In [32]:
s={4,5,6,9}
s

{4, 5, 6, 9}

In [34]:
lst=[0,1,1,'abc','xyz', True, False]
s= set(lst)
s
#here '0' and False will be considered same logically ; '1' and TRUE will be same

{0, 1, 'abc', 'xyz'}

### THANK YOU & Enjoy Learning