## FUNCTIONS

In [1]:
a=10
b=9
a+b

19

in other programming languages we write down : 
   <return type> fun_name(arg) {
    ......
    ....
    ...return
    }

IN python: keyword used: def <function_name(arg, , ) ....<body>

In [2]:
def test(x,y):

SyntaxError: unexpected EOF while parsing (<ipython-input-2-18a5f39a56cc>, line 1)

In [3]:
#reason: not specified what function is to do i.e body of function

In [4]:
def test(x,y):
    pass
#pass is used to skip logic reqd for body

In [5]:
test   #calling function

In [6]:
test()
#will show error because args are not specified

TypeError: test() missing 2 required positional arguments: 'x' and 'y'

In [7]:
test(34,45)

NOTE: Scope of function is limited to that particular jupyter notebook. If we wish to use it in other env like VScode or Pychram it will not work. For it to make globally usable we will learn later i.e packages & bundles.

In [25]:
def test(x,y):
    print(x+y)

In [9]:
test(-56, 90)

34

In [10]:
test(909,56.909)

965.909

In [11]:
test(90,90)
test(56,9)

180
65

In [12]:
def test1(a,b):
    return a*b

In [13]:
test1(5,89)

445

In [16]:
test(23,8)+7
#ERROR: bcz here when we use print() then return type is NONETYPE and we are adding 7 to none typehence not possible to do so, hence errror displayed

31

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [17]:
test1(23,8)+7
#here we use return(), which returns int as return type & we add int to other int ewhich is possoble

191

In [21]:

type(test1(3,4))

int

In [22]:
type(test(3,4))

7

NoneType

In [23]:
type(b)

int

In [27]:
def test2(t,n,m):
    return t+n
#error: returb parameter is one less

In [29]:
test2()

TypeError: test2() missing 3 required positional arguments: 't', 'n', and 'm'

In [30]:
def test2(t,n,m):
    return (t*n)+m

In [32]:
test2(5,3,4)

19

In [36]:
def test3(n,m):
    return n+m,5*n,m+3

In [43]:
test3(2,7)
#by default it will give return of tuples and multiple is return is possible

(9, 10, 10)

In [40]:
type(test3(2,7))

tuple

In [42]:
type(test3)

function

In [49]:
c,x,v =test3(2,7)
print(c,x,v)
#here 3 variables are defined to each return output given by function

9 10 10

In [46]:
c

9

In [47]:
x

10

In [48]:
v

10

In [50]:
c,x,_v= test3(2,7)
# _underscore is just a place holder indicating that we are interested in first 2 types not in 3rd

In [51]:
c

9

In [52]:
x

10

In [53]:
_

10

In [54]:
_,_,_=test3(2,7)

In [55]:
c

9

In [56]:
x

10

In [57]:
def test4(p,q,r):
    return p+q
    return n+m

In [58]:
test4(7,1,2)
#will return only first "return" that is encountered

8

In [59]:
def test():
    print("this is my first fucntion")

In [60]:
m=test()

this is my first fucntion

In [61]:
m+"sgfhedg"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [67]:
def test7():
   return "fucntion writing"

In [68]:
n=test7()

In [69]:
n+ "hgvhvjh"

'fucntion writinghgvhvjh'

In [72]:
def test8(n):
    return n*2

In [73]:
test8([3,4,5,6,7])
#will return lisr*2 eemensts

[3, 4, 5, 6, 7, 3, 4, 5, 6, 7]

In [74]:
def test9(n):
    return n,n*2

In [76]:
test9([2,3,4,5])

([2, 3, 4, 5],
 [2,
  3,
  4,
  5,
  2,
  3,
  4,
  5,
  2,
  3,
  4,
  5,
  2,
  3,
  4,
  5,
  2,
  3,
  4,
  5,
  2,
  3,
  4,
  5,
  2,
  3,
  4,
  5])

In [80]:
b=test9([4,6,7])

In [81]:
b

([4, 6, 7], [4, 6, 7, 4, 6, 7, 4, 6, 7, 4, 6, 7, 4, 6, 7, 4, 6, 7, 4, 6, 7])

In [83]:
b[0]

[4, 6, 7]

In [84]:
b[1]

[4, 6, 7, 4, 6, 7, 4, 6, 7, 4, 6, 7, 4, 6, 7, 4, 6, 7, 4, 6, 7]

In [85]:
def test10(n,m=90):
    return n+m

In [86]:
test10(50)

140

In [89]:
test10(50,70)
#latest value will overiride previous value

120

In [90]:
def boolx( x=True, y= False):
    return x+y

In [91]:
boolx()

1

In [92]:
boolx(False)

0

In [93]:
boolx(False,0)

0

In [96]:
boolx(0,0)

0

In [99]:
boolx(1,1)
#QUESTION : why is it not giving 1, instead of 2. ANswer becasue true + true in numeric values is 1+ = 2

2

In [100]:
boolx(1,0)

1

In [103]:
def travel(bike= True, car=False):
    plan_travel= bike or car
    return bike, car, plan_travel

In [105]:
travel()
#will give 3 output because we have used 3 returns varibales

(True, False, True)

In [106]:
travel(False)

(False, False, False)

In [107]:
travel(car=True)

(True, True, True)

In [110]:
travel(,True)
#this is wrong syntex

SyntaxError: invalid syntax (<ipython-input-110-8f8a3cd04263>, line 1)

In [2]:
def test11(*args,a="sawan"):
    return args

In [3]:
test11("sawan", "kumar", 34, [432,456,76,7,5])

('sawan', 'kumar', 34, [432, 456, 76, 7, 5])

In [4]:
def test12(a,b,c):
    return a+b+c

In [5]:
test12([1,2,3,4],[4,5,6,7],[5,6,7])

[1, 2, 3, 4, 4, 5, 6, 7, 5, 6, 7]

In [10]:
def test13(*args):
    l=[]
    for i in args:
        l.append(i)
    return l

In [15]:
test13([9,7,"sawan"],[9,6,7,8],[True,45,66,6])
#one function to be used many times
#this function can be used many times by entering as much lists posssible  and then reurning the concatinated list

[[9, 7, 'sawan'], [9, 6, 7, 8], [True, 45, 66, 6]]

In [13]:
def test14(*args):
    return[i for i in args]

In [14]:
test14([6,7],[432,6],[7])

[[6, 7], [432, 6], [7]]

In [16]:
test13("dfhgjvbjv", 234, [5,6,7,5],[244,34])

['dfhgjvbjv', 234, [5, 6, 7, 5], [244, 34]]

In [18]:
def test15(*args):
    l=[]
    for i in args:
        if type(i)==list:
            l=l+i
        
    return l

In [19]:
test15("dhgfb", [4,6,7,8],[7,8])

[4, 6, 7, 8, 7, 8]

In [20]:
#stands for keyword argument, series of arguments
#will be provide an no of data into a function but in a KEY:VALUE pair
def test16(**kwargs):
    return kwargs

In [23]:
test16(4,56,56)
#here any no of arguments were passed but were not in pair of KEY:VALUE

TypeError: test16() takes 0 positional arguments but 3 were given

In [25]:
test16(a=8,b=5,c=9,d=2)
#here argument and value were passed into KEY:VALUE pair isliye no error
#internally it expects to be dictionary

{'a': 8, 'b': 5, 'c': 9, 'd': 2}

In [29]:
def test17(*args):
    return args

In [30]:
test17(4,5,6,"sawsa",[4,5,6,7])

(4, 5, 6, 'sawsa', [4, 5, 6, 7])

Q1: Create a fucntion to take any number of a mixed data and then to create a list of separate data based on data type and return multiple result.

Q2. Create a function which will be able to use *args and **kwargs and it will be able to do all the list value concatenation and return a list.

In [37]:
#Q1
def fun1(*args):
    a=[]
    b=[]
    c=[]
    d=[]
    e=[]
    f=[]
    g=[]
    h=[]
    for i in args:
        if type(i) ==int :
            a.append(i)
        if type(i) ==float :
            b.append(i)
        if type(i) == str:
            c.append(i)
        if type(i) ==tuple :
            d.append(i)
        if type(i) ==list:
            e.append(i)
        if type(i) == dict:
            f.append(i)
        if type(i) ==bool :
            g.append(i)
        if type(i)==complex:
            h.append(i)
    return a,b,c,d,e,f,g,h

In [39]:
fun1(3,6,7,"dbghfd",9+9j,True,[6,7,34,8],"sgbkdjhb")
#this approach is correct but here options are limited to few data types
#so our aopproach should be dynamic in nature

([3, 6, 7],
 [],
 ['dbghfd', 'sgbkdjhb'],
 [],
 [[6, 7, 34, 8]],
 [],
 [True],
 [(9+9j)])

In [64]:
#Q1 (DYNAMIC APPROACH)
def func(*args):
    dt={}
    for i in args:
        if type(i) in dt:
            dt[type(i)].append(i)
        else:
            dt[type(i)] =[i]
    return dt

func([1,2,3],9+7j,"saebkj","fbhfb",[89.432,90.9])

{list: [[1, 2, 3], [89.432, 90.9]],
 complex: [(9+7j)],
 str: ['saebkj', 'fbhfb']}

In [50]:
#Q2
def fun2(*args,**kwargs):
    l=[i for i in args if type(i)==list]
    d=[i[1] for i in kwargs.items() if type(i[1])==list]
    return l,d

In [51]:
fun2([4,5,65,6],[754,6,7,7],a=5,b=6,c="fsdfs", m=[5,6,7])

([[4, 5, 65, 6], [754, 6, 7, 7]], [[5, 6, 7]])

In [56]:
def test18(**kwargs):
    return kwargs

In [57]:
test18(y=2,z=3,x=[4,5,56,6],b=[46,6,7,78,5],c=6,d=1,f="shdsd")

{'y': 2,
 'z': 3,
 'x': [4, 5, 56, 6],
 'b': [46, 6, 7, 78, 5],
 'c': 6,
 'd': 1,
 'f': 'shdsd'}

In [58]:
def test19(**kwargs):
    for i in kwargs.items():
        if type(i[1])==list:
            if "shdsd" in i[1]:
                print("i am able to find your name in in input data")
                print(i[1])
            return kwargs

In [61]:
test19(b=7,c=[7,8,9],d=["shdsd","kumar",5.6])

{'b': 7, 'c': [7, 8, 9], 'd': ['shdsd', 'kumar', 5.6]}

#### DOUBTS & DISCUSSION (Functions)

In [5]:
def test(**kwargs):
    print(kwargs.item())

In [6]:
def test("sawan", 56,56.76)

SyntaxError: invalid syntax (<ipython-input-6-3569ea516478>, line 1)

In [8]:
test(x="sawan", y=56, z=56.76)
#here why errorv ?

AttributeError: 'dict' object has no attribute 'item'

In [11]:
def test(**kwargs):
    print("this is my args element")

In [13]:
test(x="sudh",y=56,z=546)

this is my args element

In [15]:
def test(**kwargs):
    print("this is my args element",kwargs.items())

In [16]:
test(x="sudh",y=56,z=546)

this is my args element dict_items([('x', 'sudh'), ('y', 56), ('z', 546)])

## THANK YOU & ENJOY LEARNING