# PANDAS: Introduction and Basics

In [25]:
import pandas as pd

In [26]:
#performing a reading operation of a file from a system
df=pd.read_csv('HH-Automobile.csv')

In [27]:
df

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
197,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
198,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
199,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

Here note row indexes are generated from 0, 1,2,3....to 201. It is to be noted that these indexes are not in the csv file itself.

In [28]:
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [29]:
df.head(10)
#will give upto 9 indexes of record i.e 10 rows starting from first row i.e index 0

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,161,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,168,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430

In [30]:
df.tail(10)
#will give upto 9 indexes of record i.e 10 rows starting from n to n-10 row i.e index n-1 to n-11

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
191,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,13415
192,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,15985
193,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,16515
194,-2,103,volvo,gas,turbo,four,sedan,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18420
195,-1,74,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18950
196,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
197,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
198,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
199,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [31]:
df= pd.read_csv('HH-Automobile.csv')

In [32]:
type(df)

pandas.core.frame.DataFrame

In [33]:
df.tail()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
196,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
197,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
198,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
199,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [34]:
df1=df.to_csv("testpd.csv")

In [35]:
pwd()

'C:\\Users\\Hp\\Downloads\\DSM--iNeuron (Jupyter notebook)\\DATA SCIENCE MASTERS'

In [36]:
!ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [37]:
pd.read_csv('testpd.csv')

,Unnamed: 0,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,3,2,164,audi,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,4,2,164,audi,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,196,-1,95,volvo,gas,std,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
197,197,-1,95,volvo,gas,turbo,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
198,198,-1,95,volvo,gas,std,four,sedan,rwd,front,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
199,199,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
200,200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

Here it is to be noted that one extra column staring from index 0 is created.

In [39]:
#here we are trying to avoid certain column when it is not separated by a comma which is by default the symbol used to differentiate between columns
df=pd.read_csv('occupation.csv')

In [40]:
df

    user_id|age|gender|occupation|zip_code
0                  1|24|M|technician|85711
1                       2|53|F|other|94043
2                      3|23|M|writer|32067
3                  4|24|M|technician|43537
4                       5|33|F|other|15213
..                                     ...
938                 939|26|F|student|33319
939           940|32|M|administrator|02215
940                 941|20|M|student|97229
941               942|48|F|librarian|78209
942                 943|22|M|student|77841

[943 rows x 1 columns]

now we are overwriting the current data by using separator.Shown as below

In [41]:
df=pd.read_csv('occupation.csv', sep='|')

In [42]:
df

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

By defualt the very first row is considered as a header. We can change it by using following syntax.

In [43]:
df=pd.read_csv('occupation.csv',sep='|', header=None)
df

           0    1       2              3         4
0    user_id  age  gender     occupation  zip_code
1          1   24       M     technician     85711
2          2   53       F          other     94043
3          3   23       M         writer     32067
4          4   24       M     technician     43537
..       ...  ...     ...            ...       ...
939      939   26       F        student     33319
940      940   32       M  administrator     02215
941      941   20       M        student     97229
942      942   48       F      librarian     78209
943      943   22       M        student     77841

[944 rows x 5 columns]

In [44]:
#giving name of column by own
df=pd.read_csv('occupation.csv',sep='|', header=None,names=['a','b','c','d','e'])
df

           a    b       c              d         e
0    user_id  age  gender     occupation  zip_code
1          1   24       M     technician     85711
2          2   53       F          other     94043
3          3   23       M         writer     32067
4          4   24       M     technician     43537
..       ...  ...     ...            ...       ...
939      939   26       F        student     33319
940      940   32       M  administrator     02215
941      941   20       M        student     97229
942      942   48       F      librarian     78209
943      943   22       M        student     77841

[944 rows x 5 columns]

In [45]:
#skipping some rows
df=pd.read_csv('occupation.csv',sep='|', header=None,names=['a','b','c','d','e'],skiprows=[0,2,4,5,6,7,8,9])
df

       a   b  c              d      e
0      1  24  M     technician  85711
1      3  23  M         writer  32067
2     10  53  M         lawyer  90703
3     11  39  F          other  30329
4     12  28  F          other  06405
..   ...  .. ..            ...    ...
931  939  26  F        student  33319
932  940  32  M  administrator  02215
933  941  20  M        student  97229
934  942  48  F      librarian  78209
935  943  22  M        student  77841

[936 rows x 5 columns]

In [46]:
#na_values is NULL VALUES. i.e wherever we are able to find 1 it will consider it as null values
df=pd.read_csv('occupation.csv',sep='|',na_values=[1])
df
#these na_values can be a string as well also.

     user_id  age gender     occupation zip_code
0        NaN   24      M     technician    85711
1        2.0   53      F          other    94043
2        3.0   23      M         writer    32067
3        4.0   24      M     technician    43537
4        5.0   33      F          other    15213
..       ...  ...    ...            ...      ...
938    939.0   26      F        student    33319
939    940.0   32      M  administrator    02215
940    941.0   20      M        student    97229
941    942.0   48      F      librarian    78209
942    943.0   22      M        student    77841

[943 rows x 5 columns]

In [48]:
df1=pd.read_csv('occupation.csv', sep='|')
df1

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

In [49]:
type(df1)

pandas.core.frame.DataFrame

In [50]:
#here it will give the statistics related to data
df.describe()

          user_id         age
count  942.000000  943.000000
mean   472.500000   34.051962
std    272.076276   12.192740
min      2.000000    7.000000
25%    237.250000   25.000000
50%    472.500000   31.000000
75%    707.750000   43.000000
max    943.000000   73.000000

In [51]:
df.dtypes
#returns the type of datatypes of each column

user_id       float64
age             int64
gender         object
occupation     object
zip_code       object
dtype: object

describe():<br>
note that it returns insights only for some specific columns i.e only for numerical data by default <br>

After arraning the data in increasing order (ascending order) <br>

25% : data at the 25th percentile index (not the average of first 25% data) <br>
50% : data at the 50th percentile index <br>
75% : data at the 75th percentile index

In [52]:
#storing data to system

df.to_csv("resultsoccupation.csv")

In [54]:
#It is to be noted that the csv file saved here contains column of indexes 
#starting from 0,1,...which will appear when we read it again.
df.to_csv("resultsoccupation1.csv",index=False)

#now the file created will not

In [56]:
df.to_csv("resultsoccupation2.csv",index=False, sep='#')

In [58]:
df.to_csv("resultsoccupation3.csv",index=False, sep='#', columns=['age','gender'])

In [59]:
df.tail()

     user_id  age gender     occupation zip_code
938    939.0   26      F        student    33319
939    940.0   32      M  administrator    02215
940    941.0   20      M        student    97229
941    942.0   48      F      librarian    78209
942    943.0   22      M        student    77841

In [60]:
df.columns

Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [61]:
df['age']

0      24
1      53
2      23
3      24
4      33
       ..
938    26
939    32
940    20
941    48
942    22
Name: age, Length: 943, dtype: int64

In [62]:
type(df['age'])

pandas.core.series.Series

Here it is to be noted that series is a data type which means single record, single column data.

In [63]:
df[['age']]
#here the column name is passed in form of list show it will show dataframe
#if is passed in form of simple word then it will in series form as in line[62]

     age
0     24
1     53
2     23
3     24
4     33
..   ...
938   26
939   32
940   20
941   48
942   22

[943 rows x 1 columns]

In [64]:
type(df[['age']])

pandas.core.frame.DataFrame

In [66]:
df['age','occupation']
#will show error bcz by defualt it takes only one column
#for more than 1 column we need to pass in form of list

KeyError: ('age', 'occupation')

In [67]:
df[['age','occupation']]

     age     occupation
0     24     technician
1     53          other
2     23         writer
3     24     technician
4     33          other
..   ...            ...
938   26        student
939   32  administrator
940   20        student
941   48      librarian
942   22        student

[943 rows x 2 columns]

In [69]:
#reading data from Excel sheet
pd.read_excel('Book3.xlsx')

     omrrts              Full_Name  Gender            City       Country
0     10001       Cornelius Kujawa    Male           Tokyo         Japan
1     10002      Patrica Courville  Female  New York Metro           USA
2     10003          Sanford Xiong    Male       Sao Paulo        Brazil
3     10004           Allen Burrus    Male           Seoul   South Korea
4     10005      Kathrine Fritzler  Female     Mexico City        Mexico
..      ...                    ...     ...             ...           ...
146   10146         Bobby Greening    Male          Dallas           USA
147   10147         Johnathon Haug    Male          Boston           USA
148   10148            Etta Bosque  Female  Belo Horizonte        Brazil
149   10149        Tomas Coppinger    Male        Khartoum         Sudan
150   10150           Nanci Bonier  Female          Riyadh  Saudi Arabia

[151 rows x 5 columns]

In [70]:
#by defaulit is reading only sheet1, so in order to add other sheet we do as:
pd.read_excel('Book3.xlsx',sheet_name='Phone_Numbers')

     omrrts Phone_Number
0     10001     555-1234
1     10002     555-1236
2     10003     555-1238
3     10004     555-1240
4     10005     555-1242
..      ...          ...
141   10146     555-1526
142   10147     555-1528
143   10148     555-1530
144   10149     555-1532
145   10150     555-1534

[146 rows x 2 columns]

Reading data from HTML page

In [71]:
df3= pd.read_html("https://www.basketball-reference.com/players/i/ibakase01.html?utm_source=direct&utm_medium=Share&utm_campaign=ShareTool")

In [72]:
df3

[  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Per 36 Minutes  \
               Season                Age                 Lg             FG
 0            2022-23                 33                NBA            6.6

                                   ...                                Shooting  \
     FGA   3P  3PA   FT  FTA  ORB  ...  AST  STL  BLK  TOV   PF   PTS      FG%
 0  13.3  1.5  4.3  1.6  2.2  2.5  ...  2.3  0.5  1.4  1.9  3.7  16.3    0.496

                Unnamed: 20_level_0
     3P%    FT%               WS/48
 0  0.36  0.751               0.125

 [1 rows x 21 columns],
        Season   Age                                     Tm  \
 0     2008-09  19.0  Did Not Play (other pro league—Spain)
 1     2009-10  20.0                                    OKC
 2     2010-11  21.0                                    OKC
 3     2011-12  22.0                                    OKC
 4     2012-13  23.0                                    OKC
 5     2013-14  24.0                                    OKC
 6     2014-15  25.0                                    OKC
 7     2015-16  26.0                                    OKC
 8     2016-17  27.0                                    TOT
 9     2016-17  27.0                                    ORL
 10    2016-17  27.0                                    TOR
 11    2017-18  28.0                                    TOR
 12    2018-19  29.0                                    TOR
 13    2019-20  30.0                                    TOR
 14    2020-21  31.0                                    LAC
 15    2021-22  32.0                                    TOT
 16    2021-22  32.0                                    LAC
 17    2021-22  32.0                                    MIL
 18     Career   NaN                                    NaN
 19        NaN   NaN                                    NaN
 20  7 seasons   NaN                                    OKC
 21  4 seasons   NaN                                    TOR
 22  2 seasons   NaN                                    LAC
 23   1 season   NaN                                    ORL
 24   1 season   NaN                                    MIL

                                        Lg  \
 0   Did Not Play (other pro league—Spain)
 1                                     NBA
 2                                     NBA
 3                                     NBA
 4                                     NBA
 5                                     NBA
 6                                     NBA
 7                                     NBA
 8                                     NBA
 9                                     NBA
 10                                    NBA
 11                                    NBA
 12                                    NBA
 13                                    NBA
 14                                    NBA
 15                                    NBA
 16                                    NBA
 17                                    NBA
 18                                    NBA
 19                                    NaN
 20                                    NBA
 21                                    NBA
 22                                    NBA
 23                                    NBA
 24                                    NBA

                                       Pos  \
 0   Did Not Play (other pro league—Spain)
 1                                      PF
 2                                      PF
 3                                      PF
 4                                      PF
 5                                      PF
 6                                      PF
 7                                      PF
 8                                      PF
 9                                      PF
 10                                     PF
 11                                     PF
 12                                      C
 13                                      C
 14                                      C
 15                                      C
 16                                      C
 17                                      C
 18                                    NaN
 19                                    NaN
 20                                    NaN
 21                                    NaN
 22                                    NaN
 23                                    NaN
 24                                    NaN

                                         G  \
 0   Did Not Play (other pro league—Spain)
 1                                      73
 2                                      82
 3                                      66
 4                                      80
 5                                      81
 6                                      64
 7                                      78
 8                                      79
 9                                      56
 10                                     23
 11                                     76
 12                                     74
 13                                     55
 14                                     41
 15                                     54
 16                                     35
 17                                     19
 18                                    903
 19                                    NaN
 20                                    524
 21                                    228
 22                                     76
 23                                     56
 24                                     19

                                        GS  \
 0   Did Not Play (other pro league—Spain)
 1                                       0
 2                                      44
 3                                      66
 4                                      80
 5                                      81
 6                                      64
 7                                      78
 8                                      79
 9                                      56
 10                                     23
 11                                     76
 12                                     51
 13                                     27
 14                                     39
 15                                     12
 16                                     10
 17                                      2
 18                                    697
 19                                    NaN
 20                                    413
 21                                    177
 22                                     49
 23                                     56
 24                                      2

                                        MP  \
 0   Did Not Play (other pro league—Spain)
 1                                    18.1
 2                                    27.0
 3                                    27.2
 4                                    31.1
 5                                    32.9
 6                                    33.1
 7                                    32.1
 8                                    30.7
 9                                    30.5
 10                                   31.0
 11                                   27.5
 12                                   27.2
 13                                   27.0
 14                                   23.3
 15                                   16.2
 16                                   15.4
 17                                   17.8
 18                                   27.6
 19                                    NaN
 20                                   28.8
 21                                   27.6
 22                                   19.6
 23                                   30.5
 24                                   17.8

                                        FG  \
 0   Did Not Play (other pro league—Spain)
 1                                     2.8
 2                                     4.1
 3                                     4.0
 4                                     5.6
 5                                     6.5
 6                                     5.8
 7                                     5.3
 8                                     6.0
 9                                     6.1
 10                                    5.6
 11                                    5.0
 12                                    6.3
 13                                    6.2
 14                                    4.5
 15                                    2.7
 16                                    2.7
 17                                    2.8
 18                                    5.0
 19                                    NaN
 20                                    4.9
 21                                    5.8
 22                                    3.7
 23                                    6.1
 24                                    2.8

                                       FGA  ...  \
 0   Did Not Play (other pro league—Spain)  ...
 1                                     5.1  ...
 2                                     7.5  ...
 3                                     7.4  ...
 4                                     9.7  ...
 5                                    12.1  ...
 6                                    12.3  ...
 7                                    11.1  ...
 8                                    12.4  ...
 9                                    12.6  ...
 10                                   12.1  ...
 11                                   10.3  ...
 12                                   11.9  ...
 13                                   12.2  ...
 14                                    8.9  ...
 15                                    5.5  ...
 16                                    5.5  ...
 17                                    5.5  ...
 18                                    9.8  ...
 19                                    NaN  ...
 20                                    9.3  ...
 21                                   11.4  ...
 22                                    7.3  ...
 23                                   12.6  ...
 24                                    5.5  ...

                                       FT%  \
 0   Did Not Play (other pro league—Spain)
 1                                    .630
 2                                    .750
 3                                    .661
 4                                    .749
 5                                    .784
 6                                    .836
 7                                    .752
 8                                    .856
 9                                    .846
 10                                   .882
 11                                   .797
 12                                   .763
 13                                   .718
 14                                   .811
 15                                   .727
 16                                   .690
 17                                   .800
 18                                   .758
 19                                    NaN
 20                                   .745
 21                                   .768
 22                                   .768
 23                                   .846
 24                                   .800

                                       ORB  \
 0   Did Not Play (other pro league—Spain)
 1                                     1.9
 2                                     2.6
 3                                     2.9
 4                                     2.8
 5                                     2.8
 6                                     2.1
 7                                     1.8
 8                                     1.6
 9                                     1.8
 10                                    1.3
 11                                    1.0
 12                                    2.1
 13                                    2.1
 14                                    1.8
 15                                    1.1
 16                                    1.1
 17                                    1.2
 18                                    2.1
 19                                    NaN
 20                                    2.4
 21                                    1.7
 22                                    1.5
 23                                    1.8
 24                                    1.2

                                       DRB  \
 0   Did Not Play (other pro league—Spain)
 1                                     3.5
 2                                     5.0
 3                                     4.6
 4                                     4.9
 5                                     6.0
 6                                     5.7
 7                                     5.0
 8                                     5.2
 9                                     5.0
 10                                    5.5
 11                                    5.3
 12                                    6.0
 13                                    6.1
 14                                    4.9
 15                                    3.5
 16                                    3.1
 17                                    4.1
 18                                    5.1
 19                                    NaN
 20                                    5.0
 21                                    5.7
 22                                    4.1
 23                                    5.0
 24                                    4.1

                                       TRB  \
 0   Did Not Play (other pro league—Spain)
 1                                     5.4
 2                                     7.6
 3                                     7.5
 4                                     7.7
 5                                     8.8
 6                                     7.8
 7                                     6.8
 8                                     6.8
 9                                     6.8
 10                                    6.8
 11                                    6.3
 12                                    8.1
 13                                    8.2
 14                                    6.7
 15                                    4.6
 16                                    4.3
 17                                    5.3
 18                                    7.2
 19                                    NaN
 20                                    7.4
 21                                    7.4
 22                                    5.6
 23                                    6.8
 24                                    5.3

                                       AST  \
 0   Did Not Play (other pro league—Spain)
 1                                     0.1
 2                                     0.3
 3                                     0.4
 4                                     0.5
 5                                     1.0
 6                                     0.9
 7                                     0.8
 8                                     0.9
 9                                     1.1
 10                                    0.7
 11                                    0.8
 12                                    1.3
 13                                    1.4
 14                                    1.8
 15                                    0.9
 16                                    1.0
 17                                    0.7
 18                                    0.8
 19                                    NaN
 20                                    0.6
 21                                    1.1
 22                                    1.4
 23                                    1.1
 24                                    0.7

                                       STL  \
 0   Did Not Play (other pro league—Spain)
 1                                     0.3
 2                                     0.4
 3                                     0.5
 4                                     0.4
 5                                     0.5
 6                                     0.5
 7                                     0.5
 8                                     0.5
 9                                     0.6
 10                                    0.3
 11                                    0.4
 12                                    0.4
 13                                    0.5
 14                                    0.2
 15                                    0.2
 16                                    0.2
 17                                    0.2
 18                                    0.4
 19                                    NaN
 20                                    0.4
 21                                    0.4
 22                                    0.2
 23                                    0.6
 24                                    0.2

                                       BLK  \
 0   Did Not Play (other pro league—Spain)
 1                                     1.3
 2                                     2.4
 3                                     3.7
 4                                     3.0
 5                                     2.7
 6                                     2.4
 7                                     1.9
 8                                     1.6
 9                                     1.6
 10                                    1.4
 11                                    1.3
 12                                    1.4
 13                                    0.8
 14                                    1.1
 15                                    0.6
 16                                    0.7
 17                                    0.4
 18                                    1.9
 19                                    NaN
 20                                    2.5
 21                                    1.2
 22                                    1.0
 23                                    1.6
 24                                    0.4

                                       TOV  \
 0   Did Not Play (other pro league—Spain)
 1                                     0.9
 2                                     0.9
 3                                     1.2
 4                                     1.6
 5                                     1.5
 6                                     1.5
 7                                     1.4
 8                                     1.3
 9                                     1.2
 10                                    1.7
 11                                    1.2
 12                                    1.5
 13                                    2.0
 14                                    1.1
 15                                    0.8
 16                                    0.9
 17                                    0.5
 18                                    1.3
 19                                    NaN
 20                                    1.3
 21                                    1.5
 22                                    1.0
 23                                    1.2
 24                                    0.5

                                        PF  \
 0   Did Not Play (other pro league—Spain)
 1                                     2.7
 2                                     3.3
 3                                     2.7
 4                                     2.7
 5                                     2.9
 6                                     3.0
 7                                     2.7
 8                                     2.7
 9                                     2.5
 10                                    3.3
 11                                    2.8
 12                                    2.9
 13                                    2.8
 14                                    1.9
 15                                    1.9
 16                                    1.6
 17                                    2.4
 18                                    2.7

In [73]:
type(df3)

list

In [75]:
#stores data in form of multiple tables form a html page

In [76]:
len(df3)
#@no of tables will be displayed

7

In [77]:
df3[0]

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Per 36 Minutes  \
              Season                Age                 Lg             FG
0            2022-23                 33                NBA            6.6

                                  ...                                Shooting  \
    FGA   3P  3PA   FT  FTA  ORB  ...  AST  STL  BLK  TOV   PF   PTS      FG%
0  13.3  1.5  4.3  1.6  2.2  2.5  ...  2.3  0.5  1.4  1.9  3.7  16.3    0.496

               Unnamed: 20_level_0
    3P%    FT%               WS/48
0  0.36  0.751               0.125

[1 rows x 21 columns]

In [78]:
df3[3].to_csv("players_data.csv")

here the file will be stored from the 3rd table.

In [80]:
pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

converting json data into tabular format from a jSON file.

In [88]:
s = """{
"name" :"sawan",
"phone_no" : 45454545,
"comp":["ISM", "UPES" , "cognizant"]
}
"""

In [89]:
import json

In [91]:
s1=json.loads(s)

In [92]:
s1

{'name': 'sawan', 'phone_no': 45454545, 'comp': ['ISM', 'UPES', 'cognizant']}

In [93]:
#to cross check use json viewer online whether it is inputted in correct format or not

In [94]:
pd.DataFrame(s1)

    name  phone_no       comp
0  sawan  45454545        ISM
1  sawan  45454545       UPES
2  sawan  45454545  cognizant

In [95]:
pd.DataFrame(s1,columns=['comp'])

        comp
0        ISM
1       UPES
2  cognizant

In [96]:
import requests

In [97]:
res = requests.get('https://api.github.com/repos/pandas-dev/pandas/issues')

In [98]:
res

In [99]:
#converting this response into jason format
res.json()

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48346',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48346/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48346/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48346/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/48346',
  'id': 1358644556,
  'node_id': 'I_kwDOAA0YD85Q-0VM',
  'number': 48346,
  'title': 'Governance: decision making on technical topics',
  'user': {'login': 'datapythonista',
   'id': 10058240,
   'node_id': 'MDQ6VXNlcjEwMDU4MjQw',
   'avatar_url': 'https://avatars.githubusercontent.com/u/10058240?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/datapythonista',
   'html_url': 'https://github.com/datapythonista',
   'followers_url': 'https://api.github.com/users/datapythonista/followers',
   'following_url': 'https://api.github.com/users/datapythonista/following{/other_user}',
   'gists_url': 'https://api.github.com/users/datapythonista/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/datapythonista/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/datapythonista/subscriptions',
   'organizations_url': 'https://api.github.com/users/datapythonista/orgs',
   'repos_url': 'https://api.github.com/users/datapythonista/repos',
   'events_url': 'https://api.github.com/users/datapythonista/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/datapythonista/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 32933285,
    'node_id': 'MDU6TGFiZWwzMjkzMzI4NQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Admin',
    'name': 'Admin',
    'color': 'DDDDDD',
    'default': False,
    'description': 'Administrative tasks related to the pandas project'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-09-01T10:53:06Z',
  'updated_at': '2022-09-01T10:53:06Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'body': 'Parent issue: #47694\r\n\r\nScope of the discussion here: **How technical decisions about the pandas project are made**\r\n\r\n_Other governance topics like decisions about funding, creation of pandas workgroups, who is an active core dev... should better be discussed separately, to keep things focused, even if they may affect technical decision making, and are currently not well defined._\r\n\r\nExample of technical decision:\r\n- What build system to use, setuptools, Meson, cmake...\r\n- Should the `implace` argument be fully deprecated?\r\n- Would it be better to move `read_sas` to a third-party project, and remove it from the core pandas?\r\n- ...\r\n\r\nMost often decision making in pandas worked well and fluently, with one person leading an effort, other people interested in the topic provides feedback, and we move forward with a solution that everybody seems happy with. Personally, I think this is just fine, and it may not make sense to overthink or add too much overheat to these cases.\r\n\r\nBut in some cases, we end up with different people having strong conflicting opinions on how to move forward with a topic. In my experience, this can end up being tiring and frustrating for all involved people, and the final outcome is either stay with the status quo for lack of consensus, or taking the decision of the person who has more energy and perseverance to invest in the discussion. From our current governance, we have Wes as the project BDFL who could mediate and make a decision, but in practice this doesn\'t happen as Wes is not active in pandas anymore.\r\n\r\nWith the introduction of PDEPs, these technical decisions are probably going to be required more often, with possibly more non-trivial decisions to make, and it\'d be good to formalise the process on how decisions are made, as well as to clarify when a decision is assumed to be made.\r\n\r\nI personally don\'t have a strong opinion on what governance model should be implemented. [numpy\'s governance](https://numpy.org/doc/stable/dev/governance/governance.html) seems quite reasonable, and not far what we\'ve been informally doing. I guess it can be a good starting point. Based on the experience on past pandas discussions I\'d personally prefer to have some less ambiguity. For example, specify how much time is required since a proposal it\'s made, until it\'s considered that there are no vetos.\r\n\r\nI don\'t want to bias the discussion much here, and please feel free to incorporate here any relevant topic not added by myself, but some of the questions that it may make sense to answer are:\r\n\r\n- Do we want to keep the pandas BDFL role? If so, does it make sense that someone active in the project becomes it?\r\n- Is a steering committee something useful to pandas? What the exact responsibilities of the committee would be?\r\n- Are we happy with a veto model similar to numpy\'s? Should a single veto be enough, or maybe a proposal should move forward if it has enough endorsements and just a single veto?\r\n- Would voting for the proposals instead of the veto model be more convenient?\r\n- Do we want to have a minimum amount of core devs endorsing a proposal before it\'s considered accepted? If so, how many?\r\n- For PDEPs, does PRs "Approve" and "Request changes" seem convenient ways to manage endorsements and vetos for a proposal?\r\n\r\nOpening this as an issue, but maybe worth having a dedicated call to discuss this can also be useful. Let me know if there is interest.\r\n\r\nCC: @pandas-dev/pandas-core ',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48346/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48346/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48344',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48344/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48344/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48344/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/48344',
  'id': 1358363247,
  'node_id': 'PR_kwDOAA0YD84-L5K4',
  'number': 48344,
  'title': '⬆️ UPGRADE: Autoupdate pre-commit config',
  'user': {'login': 'github-actions[bot]',
   'id': 41898282,
   'node_id': 'MDM6Qm90NDE4OTgyODI=',
   'avatar_url': 'https://avatars.githubusercontent.com/in/15368?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/github-actions%5Bbot%5D',
   'html_url': 'https://github.com/apps/github-actions',
   'followers_url': 'https://api.github.com/users/github-actions%5Bbot%5D/followers',
   'following_url': 'https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}',
   'gists_url': 'https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/github-actions%5Bbot%5D/subscriptions',
   'organizations_url': 'https://api.github.com/users/github-actions%5Bbot%5D/orgs',
   'repos_url': 'https://api.github.com/users/github-actions%5Bbot%5D/repos',
   'events_url': 'https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/github-actions%5Bbot%5D/received_events',
   'type': 'Bot',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-09-01T07:09:38Z',
  'updated_at': '2022-09-01T07:09:38Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/48344',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/48344',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/48344.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/48344.patch',
   'merged_at': None},

In [100]:
js=res.json()

In [101]:
#convet this data into tabular form & read titles 
#js[0] will give the very first data
#js[0] [title]  as it is a doctionary and data is vailable in key : value pair
js[0]['title']

'Governance: decision making on technical topics'

In [102]:
for i in range(len(js)):
    print(js[i]['title'])

Governance: decision making on technical topics
⬆️ UPGRADE: Autoupdate pre-commit config
BUG: `.describe()` on `unsigned` types is resulting in `object` type result
REF: de-duplicate take_nd
PERF: Performance improvement value_counts for masked arrays
BUG: MultiIndex.unique losing ea dtype
BUG: read_html(extract_links=all) with no header
 BUG: make Series handle dtype='int64' for string array
BUG: empty groupby iloc equals empty dataframe but not empty groupby dataframe
to_sql: Adding overwrite or ignore behavior for row conflicts
BUG: test for empty input construct
WEB: Update to `jupyterlite==0.1.0b12`
BUG: dataframe returned for alternative agg method call np.size and "size" are inconsistent
BUG: inconsistent behaviour for empty DataFrames
BUG: Summing a series of bools doesn't return a number
BUG: DataFrame.at allows adding new rows to a DataFrame
ENH: Expose ArrowIntervalType and ArrowPeriodType in the public API
dataframe.astype() exception message to include column name
BUG: Converting period index to datetime index fails when the desired frequency is at the start of a period.
BUG: TypeError exception when using read_html with extract_links='all' argument
BUG: timedelta64[s] series constructor isn't equal with alternative constructor using to_timedelta unit='s'
ENH: Add ignore_index to Series.drop_duplicates
Select_dtypes considers numpy int and pandas nullable integer types as the same
The indexes of DataFrame.describe(percentiles=[0.29, 0.57, 0.58]) are incorrect
BUG: DataFrame.pivot not respecting None as column name
ENH: Allow to skip series type check in assert_frame_equal (#48287)
CLN, STYLE: remove unused variables and imports in Cython files
ENH: Allow to skip series type check in assert_frame_equal
WEB: Unpin pydata sphinx theme
BLD: Build wheels using cibuildwheel

In [103]:
len(js)

30

In [104]:
#converting json into tabular form
pd.DataFrame(js,columns=['url','title'])

,url,title
0,https://api.github.com/repos/pandas-dev/pandas...,Governance: decision making on technical topics
1,https://api.github.com/repos/pandas-dev/pandas...,⬆️ UPGRADE: Autoupdate pre-commit config
2,https://api.github.com/repos/pandas-dev/pandas...,BUG: `.describe()` on `unsigned` types is resu...
3,https://api.github.com/repos/pandas-dev/pandas...,REF: de-duplicate take_nd
4,https://api.github.com/repos/pandas-dev/pandas...,PERF: Performance improvement value_counts for...
5,https://api.github.com/repos/pandas-dev/pandas...,BUG: MultiIndex.unique losing ea dtype
6,https://api.github.com/repos/pandas-dev/pandas...,BUG: read_html(extract_links=all) with no header
7,https://api.github.com/repos/pandas-dev/pandas...,BUG: make Series handle dtype='int64' for str...
8,https://api.github.com/repos/pandas-dev/pandas...,BUG: empty groupby iloc equals empty dataframe...
9,https://api.github.com/repos/pandas-dev/pandas...,to_sql: Adding overwrite or ignore behavior fo...
10,https://api.github.com/repos/pandas-dev/pandas...,BUG: test for empty input construct
11,https://api.github.com/repos/pandas-dev/pandas...,WEB: Update to `jupyterlite==0.1.0b12`
12,https://api.github.com/repos/pandas-dev/pandas...,BUG: dataframe returned for alternative agg me...
13,https://api.github.com/repos/pandas-dev/pandas...,BUG: inconsistent behaviour for empty DataFrames
14,https://api.github.com/repos/pandas-dev/pandas...,BUG: Summing a series of bools doesn't return ...
15,https://api.github.com/repos/pandas-dev/pandas...,BUG: DataFrame.at allows adding new rows to a ...
16,https://api.github.com/repos/pandas-dev/pandas...,ENH: Expose ArrowIntervalType and ArrowPeriodT...
17,https://api.github.com/repos/pandas-dev/pandas...,dataframe.astype() exception message to includ...
18,https://api.github.com/repos/pandas-dev/pandas...,BUG: Converting period index to datetime index...
19,https://api.github.com/repos/pandas-dev/pandas...,BUG: TypeError exception when using read_html ...
20,https://api.github.com/repos/pandas-dev/pandas...,BUG: timedelta64[s] series constructor isn't e...
21,https://api.github.com/repos/pandas-dev/pandas...,ENH: Add ignore_index to Series.drop_duplicates
22,https://api.github.com/repos/pandas-dev/pandas...,Select_dtypes considers numpy int and pandas n...
23,https://api.github.com/repos/pandas-dev/pandas...,The indexes of DataFrame.describe(percentiles=...
24,https://api.github.com/repos/pandas-dev/pandas...,BUG: DataFrame.pivot not respecting None as co...
25,https://api.github.com/repos/pandas-dev/pandas...,ENH: Allow to skip series type check in assert...
26,https://api.github.com/repos/pandas-dev/pandas...,"CLN, STYLE: remove unused variables and import..."
27,https://api.github.com/repos/pandas-dev/pandas...,ENH: Allow to skip series type check in assert...
28,https://api.github.com/repos/pandas-dev/pandas...,WEB: Unpin pydata sphinx theme
29,https://api.github.com/repos/pandas-dev/pandas...,BLD: Build wheels using cibuildwheel

In [108]:
pd.DataFrame(js)

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,closed_at,author_association,active_lock_reason,body,reactions,timeline_url,performed_via_github_app,state_reason,draft,pull_request
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48346,1358644556,I_kwDOAA0YD85Q-0VM,48346,Governance: decision making on technical topics,...,None,MEMBER,None,Parent issue: #47694\r\n\r\nScope of the discu...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48344,1358363247,PR_kwDOAA0YD84-L5K4,48344,⬆️ UPGRADE: Autoupdate pre-commit config,...,None,CONTRIBUTOR,None,<!-- START pr-commits -->\n<!-- END pr-commits...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48340,1358028884,I_kwDOAA0YD85Q8eBU,48340,BUG: `.describe()` on `unsigned` types is resu...,...,None,NONE,None,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48339,1358020652,PR_kwDOAA0YD84-Kvjn,48339,REF: de-duplicate take_nd,...,None,MEMBER,None,- [ ] closes #xxxx (Replace xxxx with the Gith...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48338,1357906158,PR_kwDOAA0YD84-KVJ4,48338,PERF: Performance improvement value_counts for...,...,None,MEMBER,None,- [ ] closes #xxxx (Replace xxxx with the Gith...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48335,1357671200,PR_kwDOAA0YD84-JiV3,48335,BUG: MultiIndex.unique losing ea dtype,...,None,MEMBER,None,- [ ] closes #xxxx (Replace xxxx with the Gith...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48334,1357630015,PR_kwDOAA0YD84-JZk5,48334,BUG: read_html(extract_links=all) with no header,...,None,MEMBER,None,- [x] closes #48316 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48333,1357611836,PR_kwDOAA0YD84-JVsW,48333,BUG: make Series handle dtype='int64' for str...,...,None,NONE,None,- [x] closes #44923\r\n- [x] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48332,1357547076,I_kwDOAA0YD85Q6oZE,48332,BUG: empty groupby iloc equals empty dataframe...,...,None,CONTRIBUTOR,None,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48331,1357516561,PR_kwDOAA0YD84-JBOV,48331,to_sql: Adding overwrite or ignore behavior fo...,...,None,NONE,None,- [x] closes https://github.com/pandas-dev/pan...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48330,1357438539,PR_kwDOAA0YD84-IwY4,48330,BUG: test for empty input construct,...,None,CONTRIBUTOR,None,- [ ] closes #47959\r\n- [ ] [Tests added ]\r\n,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,True,{'url': 'https://api.github.com/repos/pandas-d...
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48329,1357367173,PR_kwDOAA0YD84-IhAb,48329,WEB: Update to `jupyterlite==0.1.0b12`,...,None,CONTRIBUTOR,None,Update to the latest `jupyterlite` release to ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48328,1357356272,PR_kwDOAA0YD84-IeqK,48328,BUG: dataframe returned for alternative agg me...,...,None,CONTRIBUTOR,None,- [ ] closes #47959\r\n- [ ] [Tests added ]\r\n,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,True,{'url': 'https://api.github.com/repos/pandas-d...
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48327,1357306763,PR_kwDOAA0YD84-IUIw,48327,BUG: inconsistent behaviour for empty DataFrames,...,None,CONTRIBUTOR,None,- [ ] Closes #47959\r\n- [ ] [Tests added](htt...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,True,{'url': 'https://api.github.com/repos/pandas-d...
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48325,1356654793,I_kwDOAA0YD85Q3OjJ,48325,BUG: Summing a series of bools doesn't return ...,...,None,NONE,None,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48323,1356630603,I_kwDOAA0YD85Q3IpL,48323,BUG: DataFrame.at allows adding new rows to a ...,...,None,MEMBER,None,"```\r\ndf = pd.DataFrame({'a': [1, 2]})\r\ndf....",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48322,1356410228,I_kwDOAA0YD85Q2S10,48322,ENH: Expose ArrowIntervalType and ArrowPeriodT...,...,None,MEMBER,None,In cuDF (https://github.com/rapidsai/cudf/pull...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48321,1356374522,PR_kwDOAA0YD84-FHKc,48321,dataframe.astype() exception message to includ...,...,None,CONTRIBUTOR,None,- [X] closes #47571(Replace xxxx with the Gith...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48318,1356123110,I_kwDOAA0YD85Q1Mvm,48318,BUG: Converting period index to datetime index...,...,None,NONE,None,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48316,1356061219,I_kwDOAA0YD85Q09oj,48316,BUG: TypeError exception when using read_html ...,...,None,NONE,None,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48312,1355698912,I_kwDOAA0YD85QzlLg,48312,BUG: timedelta64[s] series constructor isn't e...,...,None,CONTRIBUTOR,None,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48304,1354923389,I_kwDOAA0YD85Qwn19,48304,ENH: Add ignore_index to Series.drop_duplicates,...,None,MEMBER,None,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48303,1354911518,PR_kwDOAA0YD84-ALqT,48303,Select_dtypes considers numpy int and pandas n...,...,None,CONTRIBUTOR,None,- [ ] closes #40234\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48298,1354724041,PR_kwDOAA0YD849_jb_,48298,The indexes of DataFrame.describe(percentiles=...,...,None,CONTRIBUTOR,None,- [ ] closes #46362\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48293,1353443957,PR_kwDOAA0YD8497Qv-,48293,BUG: DataFrame.pivot not respecting None as co...,...,None,MEMBER,None,- [ ] closes #xxxx (Replace xxxx with the Gith...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48292,1353432133,PR_kwDOAA0YD8497Opp,48292,ENH: Allow to skip series type check in assert...,...,None,NONE,None,Add an option check_series_type that is passed...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,True,{'url': 'https://api.github.com/repos/pandas-d...
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48290,1353353273,PR_kwDOAA0YD8497AYK,48290,"CLN, STYLE: remove unused variables and import...",...,None,MEMBER,None,- [ ] closes #xxxx (Replace xxxx with the Gith...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48287,1353301403,I_kwDOAA0YD85Qqb2b,48287,ENH: Allow to skip series type check in assert...,...,None,NONE,None,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN,NaN
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48285,1353172918,PR_kwDOAA0YD8496dZd,48285,WEB: Unpin pydata sphinx theme,...,None,MEMBER,None,- [x] closes #46615 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48283,1353125981,PR_kwDOAA0YD8496Tm1,48283,BLD: Build wheels using cibuildwheel,...,None,MEMBER,None,- [ ] closes #44027 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,False,{'url': 'https://api.github.com/repos/pandas-d...

In [109]:
df4=pd.DataFrame(js)

In [110]:
df4.to_csv('json_dump_csv')

In [112]:
js[0]['user']

{'login': 'datapythonista',
 'id': 10058240,
 'node_id': 'MDQ6VXNlcjEwMDU4MjQw',
 'avatar_url': 'https://avatars.githubusercontent.com/u/10058240?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/datapythonista',
 'html_url': 'https://github.com/datapythonista',
 'followers_url': 'https://api.github.com/users/datapythonista/followers',
 'following_url': 'https://api.github.com/users/datapythonista/following{/other_user}',
 'gists_url': 'https://api.github.com/users/datapythonista/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/datapythonista/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/datapythonista/subscriptions',
 'organizations_url': 'https://api.github.com/users/datapythonista/orgs',
 'repos_url': 'https://api.github.com/users/datapythonista/repos',
 'events_url': 'https://api.github.com/users/datapythonista/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/datapythonista/received_events',
 'type': 'User',
 'site_admin': False}

In [114]:
#conversion of user data into DataFrame format for user
lis=[]
for i in range(len(js)):
    lis.append(js[i]['user'])
pd.DataFrame(lis)

,login,id,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,site_admin
0,datapythonista,10058240,MDQ6VXNlcjEwMDU4MjQw,https://avatars.githubusercontent.com/u/100582...,,https://api.github.com/users/datapythonista,https://github.com/datapythonista,https://api.github.com/users/datapythonista/fo...,https://api.github.com/users/datapythonista/fo...,https://api.github.com/users/datapythonista/gi...,https://api.github.com/users/datapythonista/st...,https://api.github.com/users/datapythonista/su...,https://api.github.com/users/datapythonista/orgs,https://api.github.com/users/datapythonista/repos,https://api.github.com/users/datapythonista/ev...,https://api.github.com/users/datapythonista/re...,User,False
1,github-actions[bot],41898282,MDM6Qm90NDE4OTgyODI=,https://avatars.githubusercontent.com/in/15368...,,https://api.github.com/users/github-actions%5B...,https://github.com/apps/github-actions,https://api.github.com/users/github-actions%5B...,https://api.github.com/users/github-actions%5B...,https://api.github.com/users/github-actions%5B...,https://api.github.com/users/github-actions%5B...,https://api.github.com/users/github-actions%5B...,https://api.github.com/users/github-actions%5B...,https://api.github.com/users/github-actions%5B...,https://api.github.com/users/github-actions%5B...,https://api.github.com/users/github-actions%5B...,Bot,False
2,galipremsagar,11664259,MDQ6VXNlcjExNjY0MjU5,https://avatars.githubusercontent.com/u/116642...,,https://api.github.com/users/galipremsagar,https://github.com/galipremsagar,https://api.github.com/users/galipremsagar/fol...,https://api.github.com/users/galipremsagar/fol...,https://api.github.com/users/galipremsagar/gis...,https://api.github.com/users/galipremsagar/sta...,https://api.github.com/users/galipremsagar/sub...,https://api.github.com/users/galipremsagar/orgs,https://api.github.com/users/galipremsagar/repos,https://api.github.com/users/galipremsagar/eve...,https://api.github.com/users/galipremsagar/rec...,User,False
3,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
4,phofl,61934744,MDQ6VXNlcjYxOTM0NzQ0,https://avatars.githubusercontent.com/u/619347...,,https://api.github.com/users/phofl,https://github.com/phofl,https://api.github.com/users/phofl/followers,https://api.github.com/users/phofl/following{/...,https://api.github.com/users/phofl/gists{/gist...,https://api.github.com/users/phofl/starred{/ow...,https://api.github.com/users/phofl/subscriptions,https://api.github.com/users/phofl/orgs,https://api.github.com/users/phofl/repos,https://api.github.com/users/phofl/events{/pri...,https://api.github.com/users/phofl/received_ev...,User,False
5,phofl,61934744,MDQ6VXNlcjYxOTM0NzQ0,https://avatars.githubusercontent.com/u/619347...,,https://api.github.com/users/phofl,https://github.com/phofl,https://api.github.com/users/phofl/followers,https://api.github.com/users/phofl/following{/...,https://api.github.com/users/phofl/gists{/gist...,https://api.github.com/users/phofl/starred{/ow...,https://api.github.com/users/phofl/subscriptions,https://api.github.com/users/phofl/orgs,https://api.github.com/users/phofl/repos,https://api.github.com/users/phofl/events{/pri...,https://api.github.com/users/phofl/received_ev...,User,False
6,mroeschke,10647082,MDQ6VXNlcjEwNjQ3MDgy,https://avatars.githubusercontent.com/u/106470...,,https://api.github.com/users/mroeschke,https://github.com/mroeschke,https://api.github.com/users/mroeschke/followers,https://api.github.com/users/mroeschke/followi...,https://api.github.com/users/mroeschke/gists{/...,https://api.github.com/users/mroeschke/starred...,https://api.github.com/users/mroeschke/subscri...,https://api.github.com/users/mroeschke/orgs,https://api.github.com/users/mroeschke/repos,https://api.github.com/users/mroeschke/events{...,https://api.github.com/users/mroeschke/receive...,User,False
7,5j9,1055747,MDQ6VXNlcjEwNTU3NDc=,https://avatars.githubusercontent.com/u/105574...,,https://api.github.com/users/5j9,https://github.com/5j9,https://api.github.com/users/5j9/followers,https://api.github.com/users/5j9/following{/ot...,https://api.github.com/users/5j9/gists{/gist_id},https://api.github.com/users/5j9/starred{/owne...,https://api.github.com/users/5j9/subscriptions,https://api.github.com/users/5j9/orgs,https://api.github.com/users/5j9/repos,https://api.github.com/users/5j9/events{/privacy},https://api.github.com/users/5j9/received_events,User,False
8,Th3nn3ss,25160953,MDQ6VXNlcjI1MTYwOTUz,https://avatars.githubusercontent.com/u/251609...,,https://api.github.com/users/Th3nn3ss,https://github.com/Th3nn3ss,https://api.github.com/users/Th3nn3ss/followers,https://api.github.com/users/Th3nn3ss/followin...,https://api.github.com/users/Th3nn3ss/gists{/g...,https://api.github.com/users/Th3nn3ss/starred{...,https://api.github.com/users/Th3nn3ss/subscrip...,https://api.github.com/users/Th3nn3ss/orgs,https://api.github.com/users/Th3nn3ss/repos,https://api.github.com/users/Th3nn3ss/events{/...,https://api.github.com/users/Th3nn3ss/received...,User,False
9,JustinGuese,9588843,MDQ6VXNlcjk1ODg4NDM=,https://avatars.githubusercontent.com/u/958884...,,https://api.github.com/users/JustinGuese,https://github.com/JustinGuese,https://api.github.com/users/JustinGuese/follo...,https://api.github.com/users/JustinGuese/follo...,https://api.github.com/users/JustinGuese/gists...,https://api.github.com/users/JustinGuese/starr...,https://api.github.com/users/JustinGuese/subsc...,https://api.github.com/users/JustinGuese/orgs,https://api.github.com/users/JustinGuese/repos,https://api.github.com/users/JustinGuese/event...,https://api.github.com/users/JustinGuese/recei...,User,False
10,Th3nn3ss,25160953,MDQ6VXNlcjI1MTYwOTUz,https://avatars.githubusercontent.com/u/251609...,,https://api.github.com/users/Th3nn3ss,https://github.com/Th3nn3ss,https://api.github.com/users/Th3nn3ss/followers,https://api.github.com/users/Th3nn3ss/followin...,https://api.github.com/users/Th3nn3ss/gists{/g...,https://api.github.com/users/Th3nn3ss/starred{...,https://api.github.com/users/Th3nn3ss/subscrip...,https://api.github.com/users/Th3nn3ss/orgs,https://api.github.com/users/Th3nn3ss/repos,https://api.github.com/users/Th3nn3ss/events{/...,https://api.github.com/users/Th3nn3ss/received...,User,False
11,jtpio,591645,MDQ6VXNlcjU5MTY0NQ==,https://avatars.githubusercontent.com/u/591645...,,https://api.github.com/users/jtpio,https://github.com/jtpio,https://api.github.com/users/jtpio/followers,https://api.github.com/users/jtpio/following{/...,https://api.github.com/users/jtpio/gists{/gist...,https://api.github.com/users/jtpio/starred{/ow...,https://api.github.com/users/jtpio/subscriptions,https://api.github.com/users/jtpio/orgs,https://api.github.com/users/jtpio/repos,https://api.github.com/users/jtpio/events{/pri...,https://api.github.com/users/jtpio/received_ev...,User,False
12,Th3nn3ss,25160953,MDQ6VXNlcjI1MTYwOTUz,https://avatars.githubusercontent.com/u/251609...,,https://api.github.com/users/Th3nn3ss,https://github.com/Th3nn3ss,https://api.github.com/users/Th3nn3ss/followers,https://api.github.com/users/Th3nn3ss/followin...,https://api.github.com/users/Th3nn3ss/gists{/g...,https://api.github.com/users/Th3nn3ss/starred{...,https://api.github.com/users/Th3nn3ss/subscrip...,https://api.github.com/users/Th3nn3ss/orgs,https://api.github.com/users/Th3nn3ss/repos,https://api.github.com/users/Th3nn3ss/events{/...,https://api.github.com/users/Th3nn3ss/received...,User,False
13,Th3nn3ss,25160953,MDQ6VXNlcjI1MTYwOTUz,https://avatars.githubusercontent.com/u/251609...,,https://api.github.com/users/Th3nn3ss,https://github.com/Th3nn3ss,https://api.github.com/users/Th3nn3ss/followers,https://api.github.com/users/Th3nn3ss/followin...,https://api.github.com/users/Th3nn3ss/gists{/g...,https://api.github.com/users/Th3nn3ss/starred{...,https://api.github.com/users/Th3nn3ss/subscrip...,https://api.github.com/users/Th3nn3ss/orgs,https://api.github.com/users/Th3nn3ss/repos,https://api.github.com/users/Th3nn3ss/events{/...,https://api.github.com/users/Th3nn3ss/received...,User,False
14,marberts,62676717,MDQ6VXNlcjYyNjc2NzE3,https://avatars.githubusercontent.com/u/626767...,,https://api.github.com/users/marberts,https://github.com/marberts,https://api.github.com/users/marberts/followers,https://api.github.com/users/marberts/followin...,https://api.github.com/users/marberts/gists{/g...,https://api.github.com/users/marberts/starred{...,https://api.github.com/users/marberts/subscrip...,https://api.github.com/users/marberts/orgs,https://api.github.com/users/marberts/repos,https://api.github.com/users/marberts/events{/...,https://api.github.com/users/marberts/received...,User,False
15,rhshadrach,45562402,MDQ6VXNlcjQ1NTYyNDAy,https://avatars.githubusercontent.com/u/455624...,,https://api.github.com/users/rhshadrach,https://github.com/rhshadrach,https://api.github.com/users/rhshadrach/followers,https://api.github.com/users/rhshadrach/follow...,https://api.github.com/users/rhshadrach/gists{...,https://api.github.com/users/rhshadrach/starre...,https://api.github.com/users/rhshadrach/subscr...,https://api.github.com/users/rhshadrach/orgs,https://api.github.com/users/rhshadrach/repos,https://api.github.com/users/rhshadrach/events...,https://api.github.com/users/rhshadrach/receiv...,User,False
16,mroeschke,10647082,MDQ6VXNlcjEwNjQ3MDgy,https://avatars.githubusercontent.com/u/106470...,,https://api.github.com/users/mroeschke,https://github.com/mroeschke,https://api.github.com/users/mroeschke/followers,https://api.github.com/users/mroeschke/followi...,https://api.github.com/users/mroeschke/gists{/...,https://api.github.com/users/mroeschke/starred...,https://api.github.com/users/mroeschke/subscri...,https://api.github.com/users/mroeschke/orgs,https://api.github.com/users/mroeschke/repos,https://api.github.com/users/mroeschke/events{...,https://api.github.com/users/mroeschke/receive...,User,False
17,dannyi96,15380498,MDQ6VXNlcjE1MzgwNDk4,https://avatars.githubusercontent.com/u/153804...,,https://api.github.com/users/dannyi96,https://github.com/dannyi96,https://api.github.com/users/dannyi96/followers,https://api.github.com/users/dannyi96/followin...,https://api.github.com/users/dannyi96/gists{/g...,https://api.github.com/users/dannyi96/starred{...,https://api.github.com/users/dannyi96/subscrip...,https://api.github.com/users/dannyi96/orgs,https://api.github.com/users/dannyi96/repos,https://api.github.com/users/dannyi96/events{/...,https://api.github.com/users/dannyi96/received...,User,False
18,paulsbrookes,15247443,MDQ6VXNlcjE1MjQ3NDQz,https://avatars.githubusercontent.com/u/152474...,,https://api.github.com/users/paulsbrookes,https://github.com/paulsbrookes,https://api.github.com/users/paulsbrookes/foll...,https://api.github.com/users/paulsbrookes/foll...,https://api.github.com/users/paulsbrookes/gist...,https://api.github.com/users/paulsbrookes/star...,https://api.github.com/users/paulsbrookes/subs...,https://api.github.com/users/paulsbrookes/orgs,https://api.github.com/users/paulsbrookes/repos,https://api.github.com/users/paulsbrookes/even...,https://api.github.com/users/paulsbrookes/rece...,User,False
19,tysonite,196535,MDQ6VXNlcjE5NjUzNQ==,https://avatars.githubusercontent.com/u/196535...,,https://api.github.com/users/tysonite,https://github.com/tysonite,https://api.github.com/users/tysonite/followers,https://api.github.com/users/tysonite/followin...,https://api.github.com/users/tysonite/gists{/g...,https://api.github.com/users/tysonite/starred{...,https://api.github.com/users/tysonite/subscrip...,https://api.github.com/users/tysonite/orgs,https://api.github.com/users/tysonite/repos,https://api.github.com/users/tysonite/events{/...,https://api.github.com/users/tysonite/received...,User,False
20,Th3nn3ss,25160953,MDQ6VXNlcjI1MTYwOTUz,https://avatars.githubusercontent.com/u/251609...,,https://api.github.com/users/Th3nn3ss,https://github.com/Th3nn3ss,https://api.github.com/users/Th3nn3ss/followers,https://api.github.com/users/Th3nn3ss/followin...,https://api.github.com/users/Th3nn3ss/gists{/g...,https://api.github.com/users/Th3nn3ss/starred{...,https://api.github.com/users/Th3nn3ss/subscrip...,https://api.github.com/users/Th3nn3ss/orgs,https://api.github.com/users/Th3nn3ss/repos,https://api.github.com/users/Th3nn3ss/events{/...,https://api.github.com/users/Th3nn3ss/received...,User,False
21,mroeschke,10647082,MDQ6VXNlcjEwNjQ3MDgy,https://avatars.githubusercontent.com/u/106470...,,https://api.github.com/users/mroeschke,https://github.com/mroeschke,https://api.github.com/users/mroeschke/followers,https://api.github.com/users/mroeschke/followi...,https://api.github.com/users/mroeschke/gists{/...,https://api.github.com/users/mroeschke/starred...,https://api.github.com/users/mroeschke/subscri...,https://api.github.com/users/mroeschke/orgs,https://api.github.com/users/mroeschke/repos,https://api.github.com/users/mroeschke/events{...,https://api.github.com/users/mroeschke/receive...,User,False
22,weikhor,36619387,MDQ6VXNlcjM2NjE5Mzg3,https://avatars.githubusercontent.com/u/366193...,,https://api.github.com/users/weikhor,https://github.com/weikhor,https://api.github.com/users/weikhor/followers,https://api.github.com/users/weikhor/following...,https://api.github.com/users/weikhor/gists{/gi...,https://api.github.com/users/weikhor/starred{/...,https://api.github.com/users/weikhor/subscript...,https://api.github.com/users/weikhor/orgs,https://api.github.com/users/weikhor/repos,https://api.github.com/users/weikhor/events{/p...,https://api.github.com/users/weikhor/received_...,User,False
23,weikhor,36619387,MDQ6VXNlcjM2NjE5Mzg3,https://avatars.githubusercontent.com/u/366193...,,https://api.github.com/users/weikhor,https://github.com/weikhor,https://api.github.com/users/weikhor/followers,https://api.github.com/users/weikhor/following...,https://api.github.com/users/weikhor/gists{/gi...,https://api.github.com/users/weikhor/starred{/...,https://api.github.com/users/weikhor/subscript...,https://api.github.com/users/weikhor/orgs,https://api.github.com/users/weikhor/repos,https://api.github.com/users/weikhor/events{/p...,https://api.github.com/users/weikhor/received_...,User,False
24,phofl,61934744,MDQ6VXNlcjYxOTM0NzQ0,https://avatars.githubusercontent.com/u/619347...,,https://api.github.com/users/phofl,https://github.com/phofl,https://api.github.com/users/phofl/followers,https://api.github.com/users/phofl/following{/...,https://api.github.com/users/phofl/gists{/gist...,https://api.github.com/users/phofl/starred{/ow...,https://api.github.com/users/phofl/subscriptions,https://api.github.com/users/phofl/orgs,https://api.github.com/users/phofl/repos,https://api.github.com/users/phofl/events{/pri...,https://api.github.com/users/phofl/received_ev...,User,False
25,abalkin,535197,MDQ6VXNlcjUzNTE5Nw==,https://avatars.githubusercontent.com/u/535197...,,https://api.github.com/users/abalkin,https://github.com/abalkin,https://api.github.com/users/abalkin/followers,https://api.github.com/users/abalkin/following...,https://api.github.com/users/abalkin/gists{/gi...,https://api.github.com/users/abalkin/starred{/...,https://api.github.com/users/abalkin/subscript...,https://api.github.com/users/abalkin/orgs,https://api.github.com/users/abalkin/repos,https://api.github.com/users/abalkin/events{/p...,https://api.github.com/users/abalkin/received_...,User,False
26,MarcoGorelli,33491632,MDQ6VXNlcjMzNDkxNjMy,https://avatars.githubusercontent.com/u/334916...,,https://api.github.com/users/MarcoGorelli,https://github.com/MarcoGorelli,https://api.github.com/users/MarcoGorelli/foll...,https://api.github.com/users/MarcoGorelli/foll...,https://api.github.com/users/MarcoGorelli/gist...,https://api.github.com/users/MarcoGorelli/star...,https://api.github.com/users/MarcoGorelli/subs...,https://api.github.com/users/MarcoGorelli/orgs,https://api.github.com/users/MarcoGorelli/repos,https://api.github.com/users/MarcoGorelli/even...,https://api.github.com/users/MarcoGorelli/rece...,User,False
27,abalkin,535197,MDQ6VXNlcjUzNTE5Nw==,https://avatars.githubusercontent.com/u/535197...,,https://api.github.com/users/abalkin,https://github.com/abalkin,https://api.github.com/users/abalkin/followers,https://api.github.com/users/abalkin/following...,https://api.github.com/users/abalkin/gists{/gi...,https://api.github.com/users/abalkin/starred{/...,https://api.github.com/users/abalkin/subscript...,https://api.github.com/users/abalkin/orgs,https://api.github.com/users/abalkin/repos,https://api.github.com/users/abalkin/events{/p...,https://api.github.com/users/abalkin/received_...,User,False
28,phofl,61934744,MDQ6VXNlcjYxOTM0NzQ0,https://avatars.githubusercontent.com/u/619347...,,https://api.github.com/users/phofl,https://github.com/phofl,https://api.github.com/users/phofl/followers,https://api.github.com/users/phofl/following{/...,https://api.github.com/users/phofl/gists{/gist...,https://api.github.com/users/phofl/starred{/ow...,https://api.github.com/users/phofl/subscriptions,https://api.github.com/users/phofl/orgs,https://api.github.com/users/phofl/repos,https://api.github.com/users/phofl/events{/pri...,https://api.github.com/users/phofl/received_ev...,User,False
29,lithomas1,47963215,MDQ6VXNlcjQ3OTYzMjE1,https://avatars.githubusercontent.com/u/479632...,,https://api.github.com/users/lithomas1,https://github.com/lithomas1,https://api.github.com/users/lithomas1/followers,https://api.github.com/users/lithomas1/followi...,https://api.github.com/users/lithomas1/gists{/...,https://api.github.com/users/lithomas1/starred...,https://api.github.com/users/lithomas1/subscri...,https://api.github.com/users/lithomas1/orgs,https://api.github.com/users/lithomas1/repos,https://api.github.com/users/lithomas1/events{...,https://api.github.com/users/lithomas1/receive...,User,False

In [116]:
# 2nd approach
json_data = pd.read_json("https://api.github.com/repos/pandas-dev/pandas/issues")
data = pd.DataFrame.from_records(json_data['user'])  #FROM_RECORDS IS A INBUILT FUNCTION
data.head()

,login,id,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,site_admin
0,datapythonista,10058240,MDQ6VXNlcjEwMDU4MjQw,https://avatars.githubusercontent.com/u/100582...,,https://api.github.com/users/datapythonista,https://github.com/datapythonista,https://api.github.com/users/datapythonista/fo...,https://api.github.com/users/datapythonista/fo...,https://api.github.com/users/datapythonista/gi...,https://api.github.com/users/datapythonista/st...,https://api.github.com/users/datapythonista/su...,https://api.github.com/users/datapythonista/orgs,https://api.github.com/users/datapythonista/repos,https://api.github.com/users/datapythonista/ev...,https://api.github.com/users/datapythonista/re...,User,False
1,github-actions[bot],41898282,MDM6Qm90NDE4OTgyODI=,https://avatars.githubusercontent.com/in/15368...,,https://api.github.com/users/github-actions%5B...,https://github.com/apps/github-actions,https://api.github.com/users/github-actions%5B...,https://api.github.com/users/github-actions%5B...,https://api.github.com/users/github-actions%5B...,https://api.github.com/users/github-actions%5B...,https://api.github.com/users/github-actions%5B...,https://api.github.com/users/github-actions%5B...,https://api.github.com/users/github-actions%5B...,https://api.github.com/users/github-actions%5B...,https://api.github.com/users/github-actions%5B...,Bot,False
2,galipremsagar,11664259,MDQ6VXNlcjExNjY0MjU5,https://avatars.githubusercontent.com/u/116642...,,https://api.github.com/users/galipremsagar,https://github.com/galipremsagar,https://api.github.com/users/galipremsagar/fol...,https://api.github.com/users/galipremsagar/fol...,https://api.github.com/users/galipremsagar/gis...,https://api.github.com/users/galipremsagar/sta...,https://api.github.com/users/galipremsagar/sub...,https://api.github.com/users/galipremsagar/orgs,https://api.github.com/users/galipremsagar/repos,https://api.github.com/users/galipremsagar/eve...,https://api.github.com/users/galipremsagar/rec...,User,False
3,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
4,phofl,61934744,MDQ6VXNlcjYxOTM0NzQ0,https://avatars.githubusercontent.com/u/619347...,,https://api.github.com/users/phofl,https://github.com/phofl,https://api.github.com/users/phofl/followers,https://api.github.com/users/phofl/following{/...,https://api.github.com/users/phofl/gists{/gist...,https://api.github.com/users/phofl/starred{/ow...,https://api.github.com/users/phofl/subscriptions,https://api.github.com/users/phofl/orgs,https://api.github.com/users/phofl/repos,https://api.github.com/users/phofl/events{/pri...,https://api.github.com/users/phofl/received_ev...,User,False

## BASICS OF PANDAS (contdd..)

In [1]:
import pandas as pd

In [3]:
form_file = pd.read_csv('players_data.csv')

In [4]:
#pickle format is used to convert into binary format, by serialising or de-serialising7
form_file.to_pickle("my_pickle")

In [5]:
pwd()

'C:\\Users\\Hp\\Downloads\\DSM--iNeuron (Jupyter notebook)\\DATA SCIENCE MASTERS'

File created by pickle allows objects to be serialized to files on disk and deserialized back into the program at runtime; saves a byte stream that represents the objects; more often uses the . P extension rather than ". pickle."
it wont be able to read it directly, based on requirement it will be used.

In [6]:
form_file

,Unnamed: 0,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Unnamed: 30,Trp Dbl
0,0,2009-10,20.0,OKC,NBA,PF,73.0,0.0,1323.0,201.0,...,259.0,397.0,10.0,25.0,97.0,68.0,194.0,461.0,NaN,0.0
1,1,2010-11,21.0,OKC,NBA,PF,82.0,44.0,2216.0,335.0,...,408.0,622.0,22.0,31.0,198.0,71.0,267.0,808.0,NaN,0.0
2,2,2011-12,22.0,OKC,NBA,PF,66.0,66.0,1792.0,262.0,...,305.0,498.0,28.0,33.0,241.0,79.0,179.0,603.0,NaN,1.0
3,3,2012-13,23.0,OKC,NBA,PF,80.0,80.0,2486.0,446.0,...,395.0,617.0,43.0,28.0,242.0,125.0,213.0,1055.0,NaN,0.0
4,4,2013-14,24.0,OKC,NBA,PF,81.0,81.0,2666.0,524.0,...,485.0,709.0,85.0,39.0,219.0,123.0,233.0,1227.0,NaN,0.0
5,5,2014-15,25.0,OKC,NBA,PF,64.0,64.0,2116.0,374.0,...,364.0,499.0,55.0,30.0,155.0,97.0,194.0,917.0,NaN,0.0
6,6,2015-16,26.0,OKC,NBA,PF,78.0,78.0,2500.0,416.0,...,392.0,533.0,66.0,38.0,148.0,108.0,211.0,983.0,NaN,0.0
7,7,2016-17,27.0,TOT,NBA,PF,79.0,79.0,2422.0,471.0,...,409.0,538.0,75.0,41.0,124.0,105.0,215.0,1173.0,NaN,0.0
8,8,2016-17,27.0,ORL,NBA,PF,56.0,56.0,1710.0,343.0,...,282.0,382.0,60.0,34.0,91.0,66.0,139.0,846.0,NaN,0.0
9,9,2016-17,27.0,TOR,NBA,PF,23.0,23.0,712.0,128.0,...,127.0,156.0,15.0,7.0,33.0,39.0,76.0,327.0,NaN,0.0
10,10,2017-18,28.0,TOR,NBA,PF,76.0,76.0,2093.0,379.0,...,400.0,478.0,62.0,29.0,99.0,90.0,209.0,959.0,NaN,0.0
11,11,2018-19,29.0,TOR,NBA,C,74.0,51.0,2010.0,464.0,...,445.0,601.0,99.0,29.0,103.0,114.0,211.0,1112.0,NaN,0.0
12,12,2019-20,30.0,TOR,NBA,C,55.0,27.0,1485.0,343.0,...,338.0,452.0,77.0,28.0,46.0,109.0,153.0,845.0,NaN,0.0
13,13,2020-21,31.0,LAC,NBA,C,41.0,39.0,955.0,186.0,...,202.0,275.0,74.0,9.0,47.0,44.0,76.0,454.0,NaN,0.0
14,14,2021-22,32.0,TOT,NBA,C,54.0,12.0,877.0,148.0,...,188.0,250.0,49.0,11.0,33.0,43.0,102.0,365.0,NaN,0.0
15,15,2021-22,32.0,LAC,NBA,C,35.0,10.0,538.0,94.0,...,110.0,150.0,36.0,7.0,26.0,33.0,56.0,232.0,NaN,0.0
16,16,2021-22,32.0,MIL,NBA,C,19.0,2.0,339.0,54.0,...,78.0,100.0,13.0,4.0,7.0,10.0,46.0,133.0,NaN,0.0
17,17,Career,NaN,NaN,NBA,NaN,903.0,697.0,24941.0,4549.0,...,4590.0,6469.0,745.0,371.0,1752.0,1176.0,2457.0,10962.0,NaN,1.0
18,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,7 seasons,NaN,OKC,NBA,NaN,524.0,413.0,15099.0,2558.0,...,2608.0,3875.0,309.0,224.0,1300.0,671.0,1491.0,6054.0,NaN,1.0
20,20,4 seasons,NaN,TOR,NBA,NaN,228.0,177.0,6300.0,1314.0,...,1310.0,1687.0,253.0,93.0,281.0,352.0,649.0,3243.0,NaN,0.0
21,21,2 seasons,NaN,LAC,NBA,NaN,76.0,49.0,1493.0,280.0,...,312.0,425.0,110.0,16.0,73.0,77.0,132.0,686.0,NaN,0.0
22,22,1 season,NaN,ORL,NBA,NaN,56.0,56.0,1710.0,343.0,...,282.0,382.0,60.0,34.0,91.0,66.0,139.0,846.0,NaN,0.0
23,23,1 season,NaN,MIL,NBA,NaN,19.0,2.0,339.0,54.0,...,78.0,100.0,13.0,4.0,7.0,10.0,46.0,133.0,NaN,0.0

In [7]:
h5_data = pd.HDFStore('test.h5')

In [8]:
h5_data['obj1']=form_file

C:\Users\Hp\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3418: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->Index(['Season', 'Tm', 'Lg', 'Pos'], dtype='object')]

  exec(code_obj, self.user_global_ns, self.user_ns)

In [9]:
h5_data['obj1']

,Unnamed: 0,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Unnamed: 30,Trp Dbl
0,0,2009-10,20.0,OKC,NBA,PF,73.0,0.0,1323.0,201.0,...,259.0,397.0,10.0,25.0,97.0,68.0,194.0,461.0,NaN,0.0
1,1,2010-11,21.0,OKC,NBA,PF,82.0,44.0,2216.0,335.0,...,408.0,622.0,22.0,31.0,198.0,71.0,267.0,808.0,NaN,0.0
2,2,2011-12,22.0,OKC,NBA,PF,66.0,66.0,1792.0,262.0,...,305.0,498.0,28.0,33.0,241.0,79.0,179.0,603.0,NaN,1.0
3,3,2012-13,23.0,OKC,NBA,PF,80.0,80.0,2486.0,446.0,...,395.0,617.0,43.0,28.0,242.0,125.0,213.0,1055.0,NaN,0.0
4,4,2013-14,24.0,OKC,NBA,PF,81.0,81.0,2666.0,524.0,...,485.0,709.0,85.0,39.0,219.0,123.0,233.0,1227.0,NaN,0.0
5,5,2014-15,25.0,OKC,NBA,PF,64.0,64.0,2116.0,374.0,...,364.0,499.0,55.0,30.0,155.0,97.0,194.0,917.0,NaN,0.0
6,6,2015-16,26.0,OKC,NBA,PF,78.0,78.0,2500.0,416.0,...,392.0,533.0,66.0,38.0,148.0,108.0,211.0,983.0,NaN,0.0
7,7,2016-17,27.0,TOT,NBA,PF,79.0,79.0,2422.0,471.0,...,409.0,538.0,75.0,41.0,124.0,105.0,215.0,1173.0,NaN,0.0
8,8,2016-17,27.0,ORL,NBA,PF,56.0,56.0,1710.0,343.0,...,282.0,382.0,60.0,34.0,91.0,66.0,139.0,846.0,NaN,0.0
9,9,2016-17,27.0,TOR,NBA,PF,23.0,23.0,712.0,128.0,...,127.0,156.0,15.0,7.0,33.0,39.0,76.0,327.0,NaN,0.0
10,10,2017-18,28.0,TOR,NBA,PF,76.0,76.0,2093.0,379.0,...,400.0,478.0,62.0,29.0,99.0,90.0,209.0,959.0,NaN,0.0
11,11,2018-19,29.0,TOR,NBA,C,74.0,51.0,2010.0,464.0,...,445.0,601.0,99.0,29.0,103.0,114.0,211.0,1112.0,NaN,0.0
12,12,2019-20,30.0,TOR,NBA,C,55.0,27.0,1485.0,343.0,...,338.0,452.0,77.0,28.0,46.0,109.0,153.0,845.0,NaN,0.0
13,13,2020-21,31.0,LAC,NBA,C,41.0,39.0,955.0,186.0,...,202.0,275.0,74.0,9.0,47.0,44.0,76.0,454.0,NaN,0.0
14,14,2021-22,32.0,TOT,NBA,C,54.0,12.0,877.0,148.0,...,188.0,250.0,49.0,11.0,33.0,43.0,102.0,365.0,NaN,0.0
15,15,2021-22,32.0,LAC,NBA,C,35.0,10.0,538.0,94.0,...,110.0,150.0,36.0,7.0,26.0,33.0,56.0,232.0,NaN,0.0
16,16,2021-22,32.0,MIL,NBA,C,19.0,2.0,339.0,54.0,...,78.0,100.0,13.0,4.0,7.0,10.0,46.0,133.0,NaN,0.0
17,17,Career,NaN,NaN,NBA,NaN,903.0,697.0,24941.0,4549.0,...,4590.0,6469.0,745.0,371.0,1752.0,1176.0,2457.0,10962.0,NaN,1.0
18,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,7 seasons,NaN,OKC,NBA,NaN,524.0,413.0,15099.0,2558.0,...,2608.0,3875.0,309.0,224.0,1300.0,671.0,1491.0,6054.0,NaN,1.0
20,20,4 seasons,NaN,TOR,NBA,NaN,228.0,177.0,6300.0,1314.0,...,1310.0,1687.0,253.0,93.0,281.0,352.0,649.0,3243.0,NaN,0.0
21,21,2 seasons,NaN,LAC,NBA,NaN,76.0,49.0,1493.0,280.0,...,312.0,425.0,110.0,16.0,73.0,77.0,132.0,686.0,NaN,0.0
22,22,1 season,NaN,ORL,NBA,NaN,56.0,56.0,1710.0,343.0,...,282.0,382.0,60.0,34.0,91.0,66.0,139.0,846.0,NaN,0.0
23,23,1 season,NaN,MIL,NBA,NaN,19.0,2.0,339.0,54.0,...,78.0,100.0,13.0,4.0,7.0,10.0,46.0,133.0,NaN,0.0

acroynm for such operation is SerDe <br>
ser-> object to bytecode (writing) <br>
De-> bytecode to object (reading) <br>

In [10]:
h5_data.put('obj2',form_file,format='table')

In [12]:
h5_data.select('obj2',where=['index >=10 and index <=15'])

,Unnamed: 0,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Unnamed: 30,Trp Dbl
10,10,2017-18,28.0,TOR,NBA,PF,76.0,76.0,2093.0,379.0,...,400.0,478.0,62.0,29.0,99.0,90.0,209.0,959.0,NaN,0.0
11,11,2018-19,29.0,TOR,NBA,C,74.0,51.0,2010.0,464.0,...,445.0,601.0,99.0,29.0,103.0,114.0,211.0,1112.0,NaN,0.0
12,12,2019-20,30.0,TOR,NBA,C,55.0,27.0,1485.0,343.0,...,338.0,452.0,77.0,28.0,46.0,109.0,153.0,845.0,NaN,0.0
13,13,2020-21,31.0,LAC,NBA,C,41.0,39.0,955.0,186.0,...,202.0,275.0,74.0,9.0,47.0,44.0,76.0,454.0,NaN,0.0
14,14,2021-22,32.0,TOT,NBA,C,54.0,12.0,877.0,148.0,...,188.0,250.0,49.0,11.0,33.0,43.0,102.0,365.0,NaN,0.0
15,15,2021-22,32.0,LAC,NBA,C,35.0,10.0,538.0,94.0,...,110.0,150.0,36.0,7.0,26.0,33.0,56.0,232.0,NaN,0.0

Here it is to be noted that, file will not be directly readbale in case of such different dat types so we have to use some other way to read it & supported by tools supported by it.<br>

These all are file systems, their application is important when we deal with huge amount of data. Bcz these file systems increases the SerDe operation useability with same computational power.Here the data remains the data is same the only change is the way it is storing the data.

Wherever optimizatioon is involved this format are very effective.

In [13]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [14]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [15]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [20]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [21]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [22]:
df.dtypes=='object'

PassengerId    False
Survived       False
Pclass         False
Name            True
Sex             True
Age            False
SibSp          False
Parch          False
Ticket          True
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [23]:
#select only those dtypes where True values are there
df.dtypes[df.dtypes == 'object']

Name        object
Sex         object
Ticket      object
Cabin       object
Embarked    object
dtype: object

In [28]:
df.dtypes[df.dtypes == 'object'].index

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [25]:
df1 = df[df.dtypes[df.dtypes == 'object'].index]

In [27]:
df1

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S
887,"Graham, Miss. Margaret Edith",female,112053,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S
889,"Behr, Mr. Karl Howell",male,111369,C148,C
890,"Dooley, Mr. Patrick",male,370376,NaN,Q

In [26]:
df1.describe()

                            Name   Sex  Ticket        Cabin Embarked
count                        891   891     891          204      889
unique                       891     2     681          147        3
top     Bystrom, Mrs. (Karolina)  male  347082  C23 C25 C27        S
freq                           1   577       7            4      644

In [29]:
#filter only those columns whose data types is only Float
df.dtypes=='float64'

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare            True
Cabin          False
Embarked       False
dtype: bool

In [31]:
df.dtypes[df.dtypes=='float64']

Age     float64
Fare    float64
dtype: object

In [32]:
df.dtypes[df.dtypes=='float64'].index

Index(['Age', 'Fare'], dtype='object')

In [33]:
#filtering the selected data
df[df.dtypes[df.dtypes=='float64'].index]

      Age     Fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]

In [34]:
df[["Age","Fare"]]

      Age     Fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]

In [35]:
df['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [36]:
df['Name'][5:10]

5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [37]:
df['Name'][5:10:2]

5                       Moran, Mr. James
7         Palsson, Master. Gosta Leonard
9    Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [39]:
df[['Ticket']][5:16]

       Ticket
5      330877
6       17463
7      349909
8      347742
9      237736
10    PP 9549
11     113783
12  A/5. 2151
13     347082
14     350406
15     248706

In [40]:
sorted(df['Ticket'])

['110152',
 '110152',
 '110152',
 '110413',
 '110413',
 '110413',
 '110465',
 '110465',
 '110564',
 '110813',
 '111240',
 '111320',
 '111361',
 '111361',
 '111369',
 '111426',
 '111427',
 '111428',
 '112050',
 '112052',
 '112053',
 '112058',
 '112059',
 '112277',
 '112379',
 '113028',
 '113043',
 '113050',
 '113051',
 '113055',
 '113056',
 '113059',
 '113501',
 '113503',
 '113505',
 '113505',
 '113509',
 '113510',
 '113514',
 '113572',
 '113572',
 '113760',
 '113760',
 '113760',
 '113760',
 '113767',
 '113773',
 '113776',
 '113776',
 '113781',
 '113781',
 '113781',
 '113781',
 '113783',
 '113784',
 '113786',
 '113787',
 '113788',
 '113789',
 '113789',
 '113792',
 '113794',
 '113796',
 '113798',
 '113798',
 '113800',
 '113803',
 '113803',
 '113804',
 '113806',
 '113806',
 '113807',
 '11668',
 '11668',
 '11751',
 '11751',
 '11752',
 '11753',
 '11755',
 '11765',
 '11767',
 '11767',
 '11769',
 '11771',
 '11774',
 '11813',
 '11967',
 '11967',
 '12233',
 '12460',
 '12749',
 '12749',
 '13049',
 '13213',
 '13214',
 '13502',
 '13502',
 '13502',
 '13507',
 '13507',
 '13509',
 '13567',
 '13568',
 '14311',
 '14312',
 '14313',
 '14973',
 '1601',
 '1601',
 '1601',
 '1601',
 '1601',
 '1601',
 '1601',
 '16966',
 '16966',
 '16988',
 '17421',
 '17421',
 '17421',
 '17421',
 '17453',
 '17453',
 '17463',
 '17464',
 '17465',
 '17466',
 '17474',
 '17474',
 '17764',
 '19877',
 '19877',
 '19928',
 '19928',
 '19943',
 '19943',
 '19947',
 '19950',
 '19950',
 '19950',
 '19950',
 '19952',
 '19972',
 '19988',
 '19996',
 '19996',
 '2003',
 '211536',
 '21440',
 '218629',
 '219533',
 '220367',
 '220845',
 '220845',
 '2223',
 '223596',
 '226593',
 '226875',
 '228414',
 '229236',
 '230080',
 '230080',
 '230080',
 '230136',
 '230136',
 '230433',
 '230433',
 '230434',
 '231919',
 '231919',
 '231945',
 '233639',
 '233866',
 '234360',
 '234604',
 '234686',
 '234818',
 '236171',
 '236852',
 '236853',
 '237442',
 '237565',
 '237668',
 '237671',
 '237736',
 '237736',
 '237789',
 '237798',
 '239853',
 '239853',
 '239853',
 '239854',
 '239855',
 '239856',
 '239865',
 '239865',
 '240929',
 '24160',
 '24160',
 '24160',
 '243847',
 '243847',
 '243880',
 '244252',
 '244252',
 '244270',
 '244278',
 '244310',
 '244358',
 '244361',
 '244367',
 '244367',
 '244373',
 '248698',
 '248706',
 '248723',
 '248727',
 '248727',
 '248727',
 '248731',
 '248733',
 '248738',
 '248738',
 '248740',
 '248747',
 '250643',
 '250644',
 '250644',
 '250646',
 '250647',
 '250647',
 '250648',
 '250649',
 '250649',
 '250651',
 '250652',
 '250653',
 '250655',
 '250655',
 '2620',
 '2623',
 '2624',
 '2625',
 '2626',
 '2627',
 '2627',
 '2628',
 '2629',
 '2631',
 '26360',
 '26360',
 '2641',
 '2647',
 '2648',
 '2649',
 '2650',
 '2651',
 '2651',
 '2653',
 '2653',
 '2659',
 '2659',
 '2661',
 '2661',
 '2662',
 '2663',
 '2664',
 '2665',
 '2665',
 '2666',
 '2666',
 '2666',
 '2666',
 '2667',
 '2668',
 '2668',
 '2669',
 '26707',
 '2671',
 '2672',
 '2674',
 '2677',
 '2678',
 '2678',
 '2680',
 '2683',
 '2685',
 '2686',
 '2687',
 '2689',
 '2690',
 '2691',
 '2691',
 '2693',
 '2694',
 '2695',
 '2697',
 '2699',
 '2699',
 '2700',
 '27042',
 '27267',
 '27849',
 '28134',
 '28206',
 '28213',
 '28220',
 '28228',
 '28403',
 '28403',
 '28424',
 '28425',
 '28551',
 '28664',
 '28665',
 '29011',
 '2908',
 '2908',
 '29103',
 '29104',
 '29105',
 '29106',
 '29106',
 '29106',
 '29108',
 '2926',
 '29750',
 '29750',
 '29751',
 '3101264',
 '3101265',
 '3101267',
 '3101276',
 '3101277',
 '3101278',
 '3101278',
 '3101281',
 '3101295',
 '3101295',
 '3101295',
 '3101295',
 '3101295',
 '3101295',
 '3101296',
 '3101298',
 '31027',
 '31027',
 '31028',
 '312991',
 '312992',
 '312993',
 '31418',
 '315037',
 '315082',
 '315084',
 '315086',
 '315088',
 '315089',
 '315090',
 '315093',
 '315094',
 '315096',
 '315097',
 '315098',
 '315151',
 '315153',
 '323592',
 '323951',
 '324669',
 '330877',
 '330909',
 '330919',
 '330923',
 '330931',
 '330932',
 '330935',
 '330958',
 '330959',
 '330979',
 '330980',
 '334912',
 '335097',
 '335677',
 '33638',
 '336439',
 '3411',
 '341826',
 '34218',
 '342826',
 '343095',
 '343120',
 '343275',
 '343276',
 '345364',
 '345572',
 '345763',
 '345764',
 '345764',
 '345765',
 '345767',
 '345769',
 '345770',
 '345773',
 '345773',
 '345773',
 '345774',
 '345777',
 '345778',
 '345779',
 '345780',
 '345781',
 '345783',
 '3460',
 '347054',
 '347054',
 '347060',
 '347061',
 '347062',
 '347063',
 '347064',
 '347067',
 '347068',
 '347069',
 '347071',
 '347073',
 '347074',
 '347076',
 '347077',
 '347077',
 '347077',
 '347077',
 '347078',
 '347080',
 '347080',
 '347081',
 '347082',
 '347082',
 '347082',
 '347082',
 '347082',
 '347082',
 '347082',
 '347083',
 '347085',
 '347087',
 '347088',
 '347088',
 '347088',
 '347088',
 '347088',
 '347088',
 '347089',
 '3474',
 '347464',
 '347466',
 '347468',
 '347470',
 '347742',
 '347742',
 '347742',
 '347743',
 '348121',
 '348123',
 '348124',
 '349201',
 '349203',
 '349204',
 '349205',
 '349206',
 '349207',
 '349208',
 '349209',
 '349210',
 '349212',
 '349213',
 '349214',
 '349215',
 '349216',
 '349217',
 '349218',
 '349219',
 '349221',
 '349222',
 '349223',
 '349224',
 '349225',
 '349227',
 '349228',
 '349231',
 '349233',
 '349234',
 '349236',
 '349237',
 '349237',
 '349239',
 '349240',
 '349241',
 '349242',
 '349243',
 '349244',
 '349245',
 '349246',
 '349247',
 '349248',
 '349249',
 '349251',
 '349252',
 '349253',
 '349254',
 '349256',
 '349257',
 '349909',
 '349909',
 '349909',
 '349909',
 '349910',
 '349912',
 '350025',
 '350026',
 '350029',
 '350034',
 '350035',
 '350036',
 '350042',
 '350043',
 '350046',
 '350047',
 '350048',
 '350050',
 '350052',
 '350060',
 '350404',
 '350406',
 '350407',
 '350417',
 '35273',
 '35273',
 '35273',
 '35281',
 '35281',
 '35851',
 '35852',
 '358585',
 '358585',
 '36209',
 '362316',
 '363291',
 '363291',
 '363291',
 '363294',
 '363592',
 '364498',
 '364499',
 '364500',
 '364506',
 '364511',
 '364512',
 '364516',
 '364516',
 '364846',
 '364848',
 '364849',
 '364849',
 '364850',
 '364851',
 '365222',
 '365226',
 '36568',
 '367226',
 '367226',
 '367228',
 '367229',
 '367230',
 '367230',
 '367231',
 '367232',
 '367655',
 '368323',
 '36864',
 '36865',
 '36866',
 '368703',
 '36928',
 '36928',
 '36947',
 '36947',
 '36963',
 '36967',
 '36973',
 '36973',
 '370129',
 '370129',
 '370365',
 '370365',
 '370369',
 '370370',
 '370371',
 '370372',
 '370373',
 '370375',
 '370376',
 '370377',
 '371060',
 '371110',
 '371110',
 '371110',
 '371362',
 '372622',
 '373450',
 '374746',
 '374887',
 '374910',
 '376564',
 '376564',
 '376566',
 '382649',
 '382651',
 '382652',
 '382652',
 '382652',
 '382652',
 '382652',
 '383121',
 '384461',
 '386525',
 '392091',
 '392092',
 '392096',
 '392096',
 '394140',
 '4133',
 '4133',
 '4133',
 '4133',
 '4134',
 '4135',
 '4136',
 '4137',
 '4138',
 '4579',
 '54636',
 '54636',
 '5727',
 '65303',
 '65304',
 '65306',
 '6563',
 '693',
 '695',
 '7267',
 '7534',
 '7534',
 '7540',
 '7545',
 '7546',
 '7552',
 '7553',
 '7598',
 '8471',
 '8475',
 '9234',
 'A./5. 2152',
 'A./5. 3235',
 'A.5. 11206',
 'A.5. 18509',
 'A/4 45380',
 'A/4 48871',
 'A/4 48871',
 'A/4. 20589',
 'A/4. 34244',
 'A/4. 39886',
 'A/5 21171',
 'A/5 21172',
 'A/5 21173',
 'A/5 21174',
 'A/5 2466',
 'A/5 2817',
 'A/5 3536',
 'A/5 3540',
 'A/5 3594',
 'A/5 3902',
 'A/5. 10482',
 'A/5. 13032',
 'A/5. 2151',
 'A/5. 3336',
 'A/5. 3336',
 'A/5. 3337',
 'A/5. 851',
 'A/S 2816',
 'A4. 54510',
 'C 17369',
 'C 4001',
 'C 7075',
 'C 7076',
 'C 7077',
 'C.A. 17248',
 'C.A. 18723',
 'C.A. 2315',
 'C.A. 2315',
 'C.A. 24579',
 'C.A. 24580',
 'C.A. 2673',
 'C.A. 2673',
 'C.A. 29178',
 'C.A. 29395',
 'C.A. 29566',
 'C.A. 31026',
 'C.A. 31921',
 'C.A. 31921',
 'C.A. 31921',
 'C.A. 33111',
 'C.A. 33112',
 'C.A. 33112',
 'C.A. 33595',
 'C.A. 34260',
 'C.A. 34651',
 'C.A. 34651',
 'C.A. 34651',
 'C.A. 37671',
 'C.A. 37671',
 'C.A. 5547',
 'C.A. 6212',
 'C.A./SOTON 34068',
 'CA 2144',
 'CA 2144',
 'CA 2144',
 'CA 2144',
 'CA 2144',
 'CA 2144',
 'CA. 2314',
 'CA. 2343',
 'CA. 2343',
 'CA. 2343',
 'CA. 2343',
 'CA. 2343',
 'CA. 2343',
 'CA. 2343',
 'F.C. 12750',
 'F.C.C. 13528',
 'F.C.C. 13529',
 'F.C.C. 13529',
 'F.C.C. 13529',
 'F.C.C. 13531',
 'Fa 265302',
 'LINE',
 'LINE',
 'LINE',
 'LINE',
 'P/PP 3381',
 'P/PP 3381',
 'PC 17318',
 'PC 17473',
 'PC 17474',
 'PC 17475',
 'PC 17476',
 'PC 17477',
 'PC 17477',
 'PC 17482',
 'PC 17483',
 'PC 17485',
 'PC 17485',
 'PC 17558',
 'PC 17558',
 'PC 17569',
 'PC 17569',
 'PC 17572',
 'PC 17572',
 'PC 17572',
 'PC 17582',
 'PC 17582',
 'PC 17582',
 'PC 17585',
 'PC 17590',
 'PC 17592',
 'PC 17593',
 'PC 17593',
 'PC 17595',
 'PC 17596',
 'PC 17597',
 'PC 17599',
 'PC 17600',
 'PC 17601',
 'PC 17603',
 'PC 17604',
 'PC 17604',
 'PC 17605',
 'PC 17608',
 'PC 17608',
 'PC 17609',
 'PC 17610',
 'PC 17611',
 'PC 17611',
 'PC 17612',
 'PC 17754',
 'PC 17755',
 'PC 17755',
 'PC 17755',
 'PC 17756',
 'PC 17757',
 'PC 17757',
 'PC 17757',
 'PC 17757',
 'PC 17758',
 'PC 17758',
 'PC 17759',
 'PC 17760',
 'PC 17760',
 'PC 17760',
 'PC 17761',
 'PC 17761',
 'PP 4348',
 'PP 9549',
 'PP 9549',
 'S.C./A.4. 23567',
 'S.C./PARIS 2079',
 'S.C./PARIS 2079',
 'S.O./P.P. 3',
 'S.O./P.P. 3',
 'S.O./P.P. 751',
 'S.O.C. 14879',
 'S.O.C. 14879',
 'S.O.C. 14879',
 'S.O.C. 14879',
 'S.O.C. 14879',
 'S.O.P. 1166',
 'S.P. 3464',
 'S.W./PP 752',
 'SC 1748',
 'SC/AH 29037',
 'SC/AH 3085',
 'SC/AH Basle 541',
 'SC/PARIS 2131',
 'SC/PARIS 2133',
 'SC/PARIS 2146',
 'SC/PARIS 2149',
 'SC/PARIS 2167',
 'SC/Paris 2123',
 'SC/Paris 2123',
 'SC/Paris 2123',
 'SC/Paris 2163',
 'SCO/W 1585',
 'SO/C 14885',
 'SOTON/O.Q. 3101305',
 'SOTON/O.Q. 3101306',
 'SOTON/O.Q. 3101307',
 'SOTON/O.Q. 3101310',
 'SOTON/O.Q. 3101311',
 'SOTON/O.Q. 3101312',
 'SOTON/O.Q. 392078',
 'SOTON/O.Q. 392087',
 'SOTON/O2 3101272',
 'SOTON/O2 3101287',
 'SOTON/OQ 3101316',
 'SOTON/OQ 3101317',
 'SOTON/OQ 392076',
 'SOTON/OQ 392082',
 'SOTON/OQ 392086',
 'SOTON/OQ 392089',
 'SOTON/OQ 392090',
 'STON/O 2. 3101269',
 'STON/O 2. 3101273',
 'STON/O 2. 3101274',
 'STON/O 2. 3101275',
 'STON/O 2. 3101280',
 'STON/O 2. 3101285',
 'STON/O 2. 3101286',
 'STON/O 2. 3101288',
 'STON/O 2. 3101289',
 'STON/O 2. 3101292',
 'STON/O 2. 3101293',
 'STON/O 2. 3101294',
 'STON/O2. 3101271',
 'STON/O2. 3101279',
 'STON/O2. 3101279',
 'STON/O2. 3101282',
 'STON/O2. 3101283',
 'STON/O2. 3101290',
 'SW/PP 751',
 'W./C. 14258',
 'W./C. 14263',
 'W./C. 6607',
 'W./C. 6607',
 'W./C. 6608',
 'W./C. 6608',
 'W./C. 6608',
 'W./C. 6608',
 'W./C. 6609',
 'W.E.P. 5734',
 'W/C 14208',
 'WE/P 5735',
 'WE/P 5735']

In [41]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [42]:
for i in df.columns:
    print(df[i])

0        1
1        2
2        3
3        4
4        5
      ...
886    887
887    888
888    889
889    890
890    891
Name: PassengerId, Length: 891, dtype: int64
0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64
0      3
1      1
2      3
3      1
4      3
      ..
886    2
887    1
888    3
889    1
890    3
Name: Pclass, Length: 891, dtype: int64
0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object
0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object
0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64
0      1
1      1
2      0
3      1
4      0
      ..
886    0
887    0
888    1
889    0
890    0
Name: SibSp, Length: 891, dtype: int64
0      0
1      0
2      0
3      0
4      0
      ..
886    0
887    0
888    2
889    0
890    0
Name: Parch, Length: 891, dtype: int64
0             A/5 21171
1              PC 17599
2      STON/O2. 3101282
3                113803
4                373450
             ...
886              211536
887              112053
888          W./C. 6607
889              111369
890              370376
Name: Ticket, Length: 891, dtype: object
0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: Fare, Length: 891, dtype: float64
0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object
0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object

In [43]:
#adding a new column but note that data is not unique
df['sawan']="kumar"

In [44]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,sawan
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,kumar
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,kumar
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,kumar
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,kumar
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,kumar
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,kumar
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,kumar
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,kumar
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,kumar
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,kumar

In [45]:
#here we have added a new column whose va;lues are asssigned same as that of passenger id
df['sawan1']=df['PassengerId']

In [46]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,sawan,sawan1
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,kumar,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,kumar,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,kumar,3
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,kumar,4
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,kumar,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,kumar,887
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,kumar,888
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,kumar,889
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,kumar,890
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,kumar,891

In [47]:
#Calling categorical data
#will give entire data information as series along with its length, categories  
pd.Categorical(df['Cabin'])

[NaN, 'C85', NaN, 'C123', NaN, ..., NaN, 'B42', NaN, 'C148', NaN]
Length: 891
Categories (147, object): ['A10', 'A14', 'A16', 'A19', ..., 'F38', 'F4', 'G6', 'T']

In [48]:
pd.Categorical(df['Sex'])

['male', 'female', 'female', 'female', 'male', ..., 'male', 'female', 'female', 'male', 'male']
Length: 891
Categories (2, object): ['female', 'male']

In [49]:
pd.Categorical(df['Pclass'])

[3, 1, 3, 1, 3, ..., 2, 1, 3, 1, 3]
Length: 891
Categories (3, int64): [1, 2, 3]

In [50]:
df['Pclass'].unique

<bound method Series.unique of 0      3
1      1
2      3
3      1
4      3
      ..
886    2
887    1
888    3
889    1
890    3
Name: Pclass, Length: 891, dtype: int64>

In [54]:
df['Pclass'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Pclass, Length: 891, dtype: bool

In [53]:
df['Cabin'].isnull()

0       True
1      False
2       True
3      False
4       True
       ...
886     True
887    False
888     True
889    False
890     True
Name: Cabin, Length: 891, dtype: bool

In [56]:
df['Cabin'][df['Cabin'].isnull() == True]

0      NaN
2      NaN
4      NaN
5      NaN
7      NaN
      ...
884    NaN
885    NaN
886    NaN
888    NaN
890    NaN
Name: Cabin, Length: 687, dtype: object

In [57]:
#extarct indexes of null values
ser = df['Cabin'][df['Cabin'].isnull() == True]
ser

0      NaN
2      NaN
4      NaN
5      NaN
7      NaN
      ...
884    NaN
885    NaN
886    NaN
888    NaN
890    NaN
Name: Cabin, Length: 687, dtype: object

In [58]:
ser.index

Int64Index([  0,   2,   4,   5,   7,   8,   9,  12,  13,  14,
            ...
            878, 880, 881, 882, 883, 884, 885, 886, 888, 890],
           dtype='int64', length=687)

In [59]:
#We are able to get dataset were we dont have a null value
df.iloc[ser.index]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,sawan,sawan1
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,kumar,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,kumar,3
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,kumar,5
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,kumar,6
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,kumar,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,kumar,885
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,kumar,886
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,kumar,887
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,kumar,889
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,kumar,891

In [60]:
len(ser.index)

687

In [61]:
#extract a person name who has paid highest fare
#step-1
df['Fare']==max(df['Fare'])

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Fare, Length: 891, dtype: bool

In [62]:
# step-2 listing out highest fare as dataframe
df[df['Fare']==max(df['Fare'])]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,sawan,sawan1
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C,kumar,259
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C,kumar,680
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C,kumar,738

In [63]:
#step-3 extracting name
df[df['Fare']==max(df['Fare'])]['Name']

258                      Ward, Miss. Anna
679    Cardeza, Mr. Thomas Drake Martinez
737                Lesurer, Mr. Gustave J
Name: Name, dtype: object

In [64]:
#combining two coulms and updating the next columns
#combine age & passengerId

df['new_col'] = df['PassengerId']  + df['Age']
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,sawan,sawan1,new_col
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,kumar,1,23.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,kumar,2,40.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,kumar,3,29.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,kumar,4,39.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,kumar,5,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,kumar,887,914.0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,kumar,888,907.0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,kumar,889,NaN
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,kumar,890,916.0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,kumar,891,923.0

In [65]:
df5 = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep= '\t')
df5

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [67]:
df5.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

Some other links for data for practice
https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv
https://raw.githubusercontent.com/justmarkham/DAT8/master/data/beer.txt
https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv
https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/datasets.csv
https://drive.google.com/file/d/1etGP85wJWsgqbsh3gX5oxc8dPKLMA1eT/view

## THANK YOU & KEEP LEARNING